Repository wilsonianb/rafiki, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: backend, pkg: frontend, pkg: auth, pkg: openapi, pkg: map, type: ci, type: documentation, type: source, type: tests, type: localenv

chore(backend): store grant access limits on koa context
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fold
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/tests/outgoingPayment.ts
Labels: pkg: backend, type: source, type: tests

chore(auth): update token introspection OpenAPI definition
  packages/auth/src/openapi/resource-server.yaml
Labels: pkg: auth, type: source

chore(auth): fold
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/index.ts
Labels: pkg: auth, type: source, type: tests

chore(backend): wip
  packages/backend/migrations/20220819162330_create_grant_references_table.js
  packages/backend/src/app.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/open_payments/auth/grant.test.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/grantReference/model.ts
  packages/backend/src/open_payments/grantReference/service.test.ts
  packages/backend/src/open_payments/grantReference/service.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/tests/grant.ts
Labels: pkg: backend, type: source, type: tests

chore(auth): generate introspection OpenAPI types
  packages/auth/package.json
  packages/auth/src/openapi/generated/resource-server-types.ts
  packages/auth/src/openapi/types.ts
  pnpm-lock.yaml
Labels: pkg: auth, type: source

chore(backend): remove grant reference
  packages/backend/migrations/20220819162330_create_grant_references_table.js
  packages/backend/migrations/20220819162331_create_quotes_table.js
  packages/backend/migrations/20220908085845_create_incoming_payments_table.js
  packages/backend/migrations/20221129213751_create_outgoing_payments_table.js
  packages/backend/src/app.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/grantReference/model.ts
  packages/backend/src/open_payments/grantReference/service.test.ts
  packages/backend/src/open_payments/grantReference/service.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/open_payments/payment_pointer/model.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/tests/grant.ts
  packages/backend/src/tests/quote.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fold
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/tests/grant.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): upgrade @interledger/pay
  packages/backend/package.json
  pnpm-lock.yaml
Labels: pkg: backend

chore(backend): update OpenAPI specs
  .github/workflows/lint_test_build.yml
  README.md
  packages/backend/.gitignore
  packages/backend/package.json
  packages/backend/scripts/get-op-schema.sh
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment_pointer/routes.test.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/openapi/auth-server.yaml
  packages/backend/src/paymentPointerKey/routes.test.ts
Labels: pkg: backend, type: ci, type: documentation, type: source, type: tests

chore(auth): include client payment pointer in introspection response
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/index.ts
  packages/auth/src/openapi/resource-server.yaml
Labels: pkg: auth, type: source, type: tests

chore(auth): generate token introspection OpenAPI types
  packages/auth/package.json
  packages/auth/src/index.ts
  packages/auth/src/openapi/generated/resource-server-types.ts
  packages/auth/src/openapi/types.ts
  pnpm-lock.yaml
Labels: pkg: auth, type: source

chore(backend): wip
  packages/backend/migrations/20220819162331_create_quotes_table.js
  packages/backend/migrations/20220908085845_create_incoming_payments_table.js
  packages/backend/migrations/20221129213751_create_outgoing_payments_table.js
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/grant.test.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/open_payments/payment_pointer/model.ts
  packages/backend/src/open_payments/payment_pointer/routes.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/tests/quote.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): wip
  packages/backend/src/open_payments/auth/grant.ts
Labels: pkg: backend, type: source

chore(backend): wip
  packages/auth/src/index.ts
  packages/auth/src/openapi/types.ts
  packages/auth/src/signature/middleware.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/tests/grant.ts
Labels: pkg: backend, pkg: auth, type: source, type: tests

chore(open-payments): export generated access types
  packages/open-payments/src/index.ts
  packages/open-payments/src/types.ts
Labels: none

chore(backend): wip
  packages/auth/src/index.ts
  packages/auth/src/openapi/types.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.ts
Labels: pkg: backend, pkg: auth, type: source

chore(backend): wip
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/grant.test.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/limits.test.ts
  packages/backend/src/open_payments/payment/outgoing/limits.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/tests/grant.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): mock introspect in middleware tests
  packages/backend/src/open_payments/auth/grant.test.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): separate httpsig verification from auth middleware
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
Labels: pkg: backend, type: source, type: tests

chore(auth): use open-payments generateJwk
  packages/auth/src/accessToken/service.ts
  packages/auth/src/signature/middleware.test.ts
  packages/auth/src/tests/context.ts
  packages/auth/src/tests/signature.ts
Labels: pkg: auth, type: source, type: tests

chore(backend): update OpenAPI specs
  .github/workflows/lint_test_build.yml
  README.md
  packages/backend/.gitignore
  packages/backend/package.json
  packages/backend/scripts/get-op-schema.sh
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment_pointer/routes.test.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/openapi/auth-server.yaml
  packages/backend/src/paymentPointerKey/routes.test.ts
Labels: pkg: backend, type: ci, type: documentation, type: source, type: tests

chore(backend): move httpsig verification to own middleware
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/tests/context.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): add auth service tests
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.test.ts
Labels: pkg: backend, type: source, type: tests

chore(auth): generate token introspection OpenAPI types
  packages/auth/package.json
  packages/auth/src/index.ts
  packages/auth/src/openapi/generated/resource-server-types.ts
  packages/auth/src/openapi/resource-server.yaml
  packages/auth/src/openapi/types.ts
  pnpm-lock.yaml
Labels: pkg: auth, type: source

chore(auth): update instrospection jwk schema
  packages/auth/src/openapi/generated/resource-server-types.ts
  packages/auth/src/openapi/resource-server.yaml
Labels: pkg: auth, type: source

chore(auth): update introspection request and response
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  packages/auth/src/openapi/generated/resource-server-types.ts
  packages/auth/src/openapi/resource-server.yaml
Labels: pkg: auth, type: source, type: tests

chore(backend): use generated introspection types
  packages/auth/src/index.ts
  packages/auth/src/openapi/types.ts
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/grant.test.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.test.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/limits.test.ts
  packages/backend/src/open_payments/payment/outgoing/limits.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/tests/app.ts
Labels: pkg: backend, pkg: auth, type: source, type: tests

chore(auth): remove unused INTROSPECTION_HTTPSIG
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
  packages/auth/src/config/app.ts
Labels: pkg: auth, type: source, type: localenv

chore(open-payments): add common GET route tests
  packages/open-payments/src/client/incoming-payment.test.ts
  packages/open-payments/src/client/index.test.ts
  packages/open-payments/src/client/outgoing-payment.test.ts
Labels: type: tests

chore(open-payments): add common create route tests
  packages/open-payments/src/client/grant.test.ts
  packages/open-payments/src/client/incoming-payment.test.ts
  packages/open-payments/src/client/index.test.ts
  packages/open-payments/src/client/outgoing-payment.test.ts
Labels: type: tests

feat(token-introspection): add token introspection package
  packages/auth/src/openapi/token-introspection.yaml
  packages/backend/src/openapi/token-introspection.yaml
  packages/token-introspection/jest.config.js
  packages/token-introspection/package.json
  packages/token-introspection/src/client/index.test.ts
  packages/token-introspection/src/client/index.ts
  packages/token-introspection/src/client/introspection.test.ts
  packages/token-introspection/src/client/introspection.ts
  packages/token-introspection/src/config.ts
  packages/token-introspection/src/index.ts
  packages/token-introspection/src/openapi/generated/types.ts
  packages/token-introspection/src/openapi/schemas.yaml
  packages/token-introspection/src/openapi/token-introspection.yaml
  packages/token-introspection/src/test/helpers.ts
  packages/token-introspection/src/types.test.ts
  packages/token-introspection/src/types.ts
  packages/token-introspection/tsconfig.json
Labels: pkg: backend, pkg: auth, type: source, type: tests

chore(deps): update dependency @types/koa-bodyparser to ^4.3.10
  packages/auth/package.json
  packages/backend/package.json
  packages/http-signature-utils/package.json
  pnpm-lock.yaml
Labels: pkg: backend, pkg: auth

feat(token-introspection): add token introspection package
  .github/workflows/lint_test_build.yml
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/app.ts
  packages/auth/src/openapi/token-introspection.yaml
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/openapi/token-introspection.yaml
  packages/open-payments/package.json
  packages/token-introspection/jest.config.js
  packages/token-introspection/package.json
  packages/token-introspection/src/client/index.test.ts
  packages/token-introspection/src/client/index.ts
  packages/token-introspection/src/client/introspection.test.ts
  packages/token-introspection/src/client/introspection.ts
  packages/token-introspection/src/config.ts
  packages/token-introspection/src/index.ts
  packages/token-introspection/src/openapi/generated/types.ts
  packages/token-introspection/src/openapi/schemas.yaml
  packages/token-introspection/src/openapi/token-introspection.yaml
  packages/token-introspection/src/test/helpers.ts
  packages/token-introspection/src/types.ts
  packages/token-introspection/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: backend, pkg: auth, type: ci, type: source, type: tests

chore(backend): use token-introspection client
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/service.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source

chore(token-introspection): update introspection request/response fields
  packages/token-introspection/src/index.ts
  packages/token-introspection/src/openapi/generated/types.ts
  packages/token-introspection/src/openapi/token-introspection.yaml
  packages/token-introspection/src/types.ts
Labels: none

chore(auth): update introspection request and response
  packages/auth/package.json
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  pnpm-lock.yaml
Labels: pkg: auth, type: source, type: tests

feat(token-introspection): add token introspection package
  .github/workflows/lint_test_build.yml
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/app.ts
  packages/auth/src/openapi/token-introspection.yaml
  packages/backend/src/open_payments/auth/service.test.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/openapi/token-introspection.yaml
  packages/open-payments/package.json
  packages/token-introspection/jest.config.js
  packages/token-introspection/package.json
  packages/token-introspection/src/client/index.test.ts
  packages/token-introspection/src/client/index.ts
  packages/token-introspection/src/client/introspection.test.ts
  packages/token-introspection/src/client/introspection.ts
  packages/token-introspection/src/config.ts
  packages/token-introspection/src/index.ts
  packages/token-introspection/src/openapi/generated/types.ts
  packages/token-introspection/src/openapi/schemas.yaml
  packages/token-introspection/src/openapi/token-introspection.yaml
  packages/token-introspection/src/test/helpers.ts
  packages/token-introspection/src/types.ts
  packages/token-introspection/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: backend, pkg: auth, type: ci, type: source, type: tests

chore(token-introspection): update introspection request/response fields
  packages/token-introspection/src/index.ts
  packages/token-introspection/src/openapi/generated/types.ts
  packages/token-introspection/src/openapi/token-introspection.yaml
  packages/token-introspection/src/types.test.ts
  packages/token-introspection/src/types.ts
Labels: type: tests

chore(auth): update introspection request and response
  packages/auth/package.json
  packages/auth/src/accessToken/routes.test.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/accessToken/service.test.ts
  packages/auth/src/accessToken/service.ts
  pnpm-lock.yaml
Labels: pkg: auth, type: source, type: tests

.github/labeler.yml:

# This file configures automatic labelling of pr's

'pkg: backend': packages/backend/**/*
'pkg: frontend': packages/frontend/**/*
'pkg: auth': packages/auth/**/*
'pkg: openapi': packages/openapi/**/*
'pkg: map': packages/mock-account-provider/**/*

# Add 'type: documentation' label to any change to *.md files
'type: ci':
  - .github/*
  - .github/**/*

# Add 'type: documentation' label to any change to *.md files
'type: documentation':
  - .github/*.md
  - '*.md'
  - packages/**/*.md

'type: source':
  - packages/backend/src/**/*
  - packages/frontend/src/**/*
  - packages/auth/src/**/*
  - packages/openapi/src/**/*

# Add 'type: tests' label to any change to *.test.ts files
'type: tests': packages/**/*.test.ts

'type: localenv': infrastructure/local/*
