Repository wilsonianb/rafiki, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: backend, pkg: frontend, pkg: auth, pkg: openapi, pkg: map, type: ci, type: documentation, type: source, type: tests, type: localenv

chore(backend): use token-introspection client
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.test.ts
  packages/backend/src/open_payments/auth/service.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source, type: tests

chore(backend): do not store entire grant on context
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/grant.test.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/limits.test.ts
  packages/backend/src/open_payments/payment/outgoing/limits.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/tests/app.ts
  packages/token-introspection/src/index.ts
  packages/token-introspection/src/types.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): revert incrementing total received on connector error
  packages/backend/src/connector/core/controllers/stream.ts
  packages/backend/src/connector/core/middleware/error-handler.ts
  packages/backend/src/connector/core/rafiki.ts
  packages/backend/src/connector/core/test/controllers/stream-controller.test.ts
  packages/backend/src/connector/core/test/middleware/error-handler-middleware.test.ts
Labels: pkg: backend, type: source, type: tests

chore(docker): use node:18-slim base image
  .github/workflows/docker-auth.yml
  .github/workflows/docker-backend.yml
  .github/workflows/rafiki/env-setup/action.yml
  package.json
  packages/auth/Dockerfile
  packages/backend/Dockerfile
  packages/http-signature-utils/Dockerfile
  packages/mock-account-provider/Dockerfile
  packages/mock-account-provider/package.json
Labels: pkg: backend, pkg: auth, pkg: map, type: ci

chore(auth): move testcontainers to dev dependencies
  packages/auth/package.json
  pnpm-lock.yaml
Labels: pkg: auth

chore(ci): increase backend workflow timeout
  .github/workflows/lint_test_build.yml
  .github/workflows/rafiki/env-setup/action.yml
Labels: type: ci

Bw node 18 (#152)
  .github/workflows/docker-auth.yml
  .github/workflows/docker-backend.yml
  .github/workflows/lint_test_build.yml
  .github/workflows/rafiki/env-setup/action.yml
  package.json
  packages/auth/Dockerfile
  packages/auth/package.json
  packages/backend/Dockerfile
  packages/http-signature-utils/Dockerfile
  packages/mock-account-provider/Dockerfile
  packages/mock-account-provider/package.json
  pnpm-lock.yaml
Labels: pkg: backend, pkg: auth, pkg: map, type: ci

chore(backend): upgrade testcontainers
  packages/auth/package.json
  packages/backend/package.json
  pnpm-lock.yaml
Labels: pkg: backend, pkg: auth

chore(auth): update koa cors
  packages/auth/package.json
  packages/backend/package.json
  pnpm-lock.yaml
Labels: pkg: backend, pkg: auth

chore(backend): update tigerbeetle-node to 0.11.8
  infrastructure/local/database_docker-compose.yml
  infrastructure/local/docker-compose.yml
  packages/backend/jest.setup.js
  packages/backend/package.json
  packages/backend/src/accounting/errors.ts
  packages/backend/src/tests/tigerbeetle.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source, type: localenv

chore(auth): remove eslint-disable-next-line
  packages/auth/src/index.ts
  packages/backend/src/app.ts
  packages/mock-account-provider/app/lib/apiClient.ts
  packages/openapi/src/index.ts
Labels: pkg: backend, pkg: auth, pkg: openapi, pkg: map, type: source

chore(backend): update tigerbeetle-node to 0.11.11
  infrastructure/helm/tigerbeetle/values.yaml
  infrastructure/local/database_docker-compose.yml
  infrastructure/local/docker-compose.yml
  packages/backend/package.json
  packages/backend/src/tests/tigerbeetle.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source, type: localenv

chore(backend): update tigerbeetle error codes and docker image
  infrastructure/helm/tigerbeetle/values.yaml
  infrastructure/local/database_docker-compose.yml
  infrastructure/local/docker-compose.yml
  packages/backend/src/accounting/errors.ts
  packages/backend/src/tests/tigerbeetle.ts
Labels: pkg: backend, type: source, type: localenv

chore(backend): update tigerbeetle testcontainers
  packages/backend/src/tests/tigerbeetle.ts
Labels: pkg: backend, type: source

chore(backend): wip
  packages/backend/src/open_payments/payment/incoming/model.test.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment_pointer/model.ts
  packages/backend/src/open_payments/payment_pointer/service.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/receiver/model.test.ts
  packages/backend/src/open_payments/receiver/service.ts
  packages/backend/src/open_payments/shared.ts
Labels: pkg: backend, type: source, type: tests

chore(openapi): update test OpenAPI spec
  packages/openapi/src/middleware.test.ts
  packages/openapi/test/mocks/openapi.yaml
  packages/openapi/test/mocks/schemas.yaml
Labels: pkg: openapi, type: source, type: tests

chore(openapi): test non-object query param validation
  packages/openapi/src/middleware.test.ts
  packages/openapi/test/mocks/openapi.yaml
Labels: pkg: openapi, type: source, type: tests

chore(open-payments): test client request Accept header
  packages/open-payments/src/client/requests.test.ts
  packages/open-payments/src/client/requests.ts
Labels: type: tests

chore(deps): specify .npmrc node version
  .npmrc
Labels: none

chore(docs): document connector
  docs/connector.md
Labels: none

chore(backend): wip
  packages/backend/src/app.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
Labels: pkg: backend, type: source

chore(backend): move middleware data to ctx.state namespace
  packages/backend/src/app.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment_pointer/key/routes.test.ts
  packages/backend/src/open_payments/payment_pointer/key/routes.ts
  packages/backend/src/open_payments/payment_pointer/middleware.test.ts
  packages/backend/src/open_payments/payment_pointer/middleware.ts
  packages/backend/src/open_payments/payment_pointer/model.test.ts
  packages/backend/src/open_payments/payment_pointer/routes.test.ts
  packages/backend/src/open_payments/payment_pointer/routes.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/spsp/middleware.test.ts
  packages/backend/src/spsp/middleware.ts
Labels: pkg: backend, type: source, type: tests

.github/labeler.yml:

# This file configures automatic labelling of pr's

'pkg: backend': packages/backend/**/*
'pkg: frontend': packages/frontend/**/*
'pkg: auth': packages/auth/**/*
'pkg: openapi': packages/openapi/**/*
'pkg: map': packages/mock-account-provider/**/*

# Add 'type: documentation' label to any change to *.md files
'type: ci':
  - .github/*
  - .github/**/*

# Add 'type: documentation' label to any change to *.md files
'type: documentation':
  - .github/*.md
  - '*.md'
  - packages/**/*.md

'type: source':
  - packages/backend/src/**/*
  - packages/frontend/src/**/*
  - packages/auth/src/**/*
  - packages/openapi/src/**/*

# Add 'type: tests' label to any change to *.test.ts files
'type: tests': packages/**/*.test.ts

'type: localenv': infrastructure/local/*
