Repository wilsonianb/rafiki, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: backend, pkg: interledger, pkg: frontend, pkg: rates, pkg: tigerbeetle, type: ci, type: documentation, type: source, type: tests

Sb op2 incoming payment (#92)
  .pnp.cjs
  .yarn/cache/@interledger-pay-npm-0.3.3-b6b57301fa-c8c819695a.zip
  .yarn/cache/@interledger-pay-npm-0.4.0-alpha.0-6ab495eb75-70bb37bb81.zip
  .yarn/cache/iso8601-duration-npm-1.3.0-d04d4298de-22a0d23bde.zip
  docs/transaction-api.md
  packages/backend/migrations/20211026122545_create_outgoing_payments_table.js
  packages/backend/migrations/20220228162503_create_incoming_payments_table.js
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/connector/core/factories/account.ts
  packages/backend/src/connector/core/middleware/account.ts
  packages/backend/src/connector/core/test/middleware/account-middleware.test.ts
  packages/backend/src/connector/core/test/mocks/accounting-service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/incoming/errors.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment/outgoing/worker.ts
  yarn.lock
Labels: pkg: backend, type: source, type: tests

fix(backend): fix AppServices typos
  packages/backend/codegen.yml
  packages/backend/src/app.ts
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): use DeepPartial
  .pnp.cjs
  .yarn/cache/@graphql-codegen-add-npm-3.1.1-8d5408e766-293ed4b679.zip
  .yarn/cache/@graphql-codegen-plugin-helpers-npm-2.4.2-b40f41a2d6-ad87d71e83.zip
  .yarn/cache/@graphql-tools-utils-npm-8.6.5-c6c794511d-cda451a54f.zip
  .yarn/cache/common-tags-npm-1.8.2-2c30ba69b3-767a6255a8.zip
  .yarn/cache/import-from-npm-4.0.0-e5a38cbb8a-1fa29c05b0.zip
  .yarn/cache/utility-types-npm-3.10.0-747e7c6549-8f274415c6.zip
  packages/backend/codegen.yml
  packages/backend/package.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  yarn.lock
Labels: pkg: backend, type: source

feat(backend): validate outgoing payment grant
  .pnp.cjs
  .yarn/cache/iso8601-duration-npm-1.3.0-d04d4298de-22a0d23bde.zip
  packages/backend/migrations/20211026122545_create_outgoing_payments_table.js
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/open_payments/account/service.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  yarn.lock
Labels: pkg: backend, type: source

fix(backend): fix AppServices typos
  .pnp.cjs
  .yarn/cache/@graphql-codegen-add-npm-3.1.1-8d5408e766-293ed4b679.zip
  .yarn/cache/@graphql-codegen-plugin-helpers-npm-2.4.2-b40f41a2d6-ad87d71e83.zip
  .yarn/cache/@graphql-tools-utils-npm-8.6.5-c6c794511d-cda451a54f.zip
  .yarn/cache/common-tags-npm-1.8.2-2c30ba69b3-767a6255a8.zip
  .yarn/cache/import-from-npm-4.0.0-e5a38cbb8a-1fa29c05b0.zip
  .yarn/cache/utility-types-npm-3.10.0-747e7c6549-8f274415c6.zip
  packages/backend/codegen.yml
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/incoming_payment.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  yarn.lock
Labels: pkg: backend, type: source, type: tests

chore(backend): remove tigerbeetle-node
  .pnp.cjs
  .yarn/cache/tigerbeetle-node-npm-0.6.0-3a63e60fae-e1af485571.zip
  packages/backend/package.json
  yarn.lock
Labels: pkg: backend

chore(backend): use latest tigerbeetle
  .gitignore
  .pnp.cjs
  packages/backend/jest.setup.js
  packages/backend/package.json
  packages/backend/src/tests/tigerbeetle.ts
  packages/tigerbeetle-node/dist/client.node
  packages/tigerbeetle-node/dist/index.d.ts
  packages/tigerbeetle-node/dist/index.js
  packages/tigerbeetle-node/dist/index.js.map
  packages/tigerbeetle-node/package.json
  yarn.lock
Labels: pkg: backend, type: source

chore(backend): stream tigerbeetle container logs
  packages/backend/jest.setup.js
  packages/backend/src/tests/tigerbeetle.ts
Labels: pkg: backend, type: source

chore(backend): update @interledger/pay to 0.4.0-alpha.2
  .pnp.cjs
  .yarn/cache/@interledger-pay-npm-0.4.0-alpha.0-6ab495eb75-70bb37bb81.zip
  .yarn/cache/@interledger-pay-npm-0.4.0-alpha.2-86328ba7f1-6e516c9022.zip
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/open_payments/account/routes.test.ts
  packages/backend/src/open_payments/account/routes.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/spsp/routes.test.ts
  packages/backend/src/tests/app.ts
  yarn.lock
Labels: pkg: backend, type: source, type: tests

chore(backend): update Open Payments amounts
  packages/backend/migrations/20211026122545_create_outgoing_payments_table.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/incoming_payment.test.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/amount.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment/outgoing/worker.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): add Open Payments auth middleware
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/auth/grant.test.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/tests/app.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): test ajv
  .pnp.cjs
  .yarn/cache/ajv-npm-8.11.0-83d029789c-5e0ff22680.zip
  .yarn/cache/ajv-npm-8.6.3-ccbb84803e-690ffb9408.zip
  package.json
  packages/backend/package.json
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.ts
  yarn.lock
Labels: pkg: backend, type: source

chore(backend): redis tls config
  packages/backend/README.md
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
Labels: pkg: backend, type: documentation, type: source

chore(ci): test --runInBand
  package.json
Labels: none

chore(ci): test docker workflow
  .github/workflows/docker.yml
Labels: type: ci

chore(ci): update @yarnpkg/plugin-docker-build
  .yarn/plugins/@yarnpkg/plugin-docker-build.cjs
Labels: none

chore(backend): fold quotes
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fix outgoing payment service tests
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/shared/baseModel.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): move quote creation to outgoing payment route
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment/outgoing/worker.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/tests/quoteFactory.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): move shared files
  packages/backend/src/app.ts
  packages/backend/src/graphql/models/incoming_payment.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/amount.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment/outgoing/worker.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/shared/ilp_plugin.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fix outgoing payment resolver tests
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/resolvers/page.test.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): add quote service
  packages/backend/migrations/20220406190843_create_quotes_table.js
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/amount.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment/outgoing/worker.ts
  packages/backend/src/open_payments/quote/errors.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/shared/ilp_plugin.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): add quote pagination
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): add test
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fold quotes
  packages/backend/migrations/20220406190843_create_quotes_table.js
  packages/backend/migrations/20220414142553_create_outgoing_payments_table.js
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment/outgoing/worker.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fold quotes
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): add quote resolvers
  packages/backend/migrations/20220406190843_create_quotes_table.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/tests/quote.ts
  packages/backend/src/tests/quoteFactory.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fold quotes
  packages/backend/migrations/20220406190843_create_quotes_table.js
  packages/backend/migrations/20220414142553_create_outgoing_payments_table.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment/outgoing/worker.ts
  packages/backend/src/open_payments/quote/errors.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fix quote tests
  packages/backend/src/open_payments/quote/service.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): un-quoted outgoing payments
  packages/backend/migrations/20220414142553_create_outgoing_payments_table.js
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment/outgoing/worker.ts
  packages/backend/src/open_payments/quote/service.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fold quotes
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fix outgoing payment routes tests
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): improve quote tests
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fold quotes
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
Labels: pkg: backend, type: source

chore(backend): replace createQuote http requests
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/tests/quote.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): add quote tests
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): add quote tests
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): remove quote.paymentType
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): add quote.completeReceivingPayment
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/tests/quote.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): add quote routes
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
Labels: pkg: backend, type: source, type: tests

.github/labeler.yml:

# This file configures automatic labelling of pr's

'pkg: backend': packages/backend/**/*
'pkg: interledger': packages/interledger/**/*
'pkg: frontend': packages/frontend/**/*
'pkg: rates': packages/rates/**/*
'pkg: tigerbeetle': packages/tigerbeetle/**/*

# Add 'type: documentation' label to any change to *.md files
'type: ci':
  - .github/*
  - .github/**/*

# Add 'type: documentation' label to any change to *.md files
'type: documentation':
  - .github/*.md
  - '*.md'
  - packages/**/*.md

'type: source':
  - packages/backend/src/**/*
  - packages/interledger/src/**/*
  - packages/frontend/src/**/*
  - packages/rates/src/**/*
  - packages/tigerbeetle/src/**/*

# Add 'type: tests' label to any change to *.test.ts files
'type: tests': packages/**/*.test.ts
