Repository wilsonianb/rafiki, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: backend, pkg: interledger, pkg: frontend, pkg: rates, pkg: tigerbeetle, type: ci, type: documentation, type: source, type: tests

.github/labeler.yml:

# This file configures automatic labelling of pr's

'pkg: backend': packages/backend/**/*
'pkg: interledger': packages/interledger/**/*
'pkg: frontend': packages/frontend/**/*
'pkg: rates': packages/rates/**/*
'pkg: tigerbeetle': packages/tigerbeetle/**/*

# Add 'type: documentation' label to any change to *.md files
'type: ci':
  - .github/*
  - .github/**/*

# Add 'type: documentation' label to any change to *.md files
'type: documentation':
  - .github/*.md
  - '*.md'
  - packages/**/*.md

'type: source':
  - packages/backend/src/**/*
  - packages/interledger/src/**/*
  - packages/frontend/src/**/*
  - packages/rates/src/**/*
  - packages/tigerbeetle/src/**/*

# Add 'type: tests' label to any change to *.test.ts files
'type: tests': packages/**/*.test.ts

chore(backend): include asset details in connection
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/client/service.test.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/connection/service.test.ts
  packages/backend/src/open_payments/connection/service.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
Labels: pkg: backend, type: source, type: tests

chore(auth): specify context body type for create grant route
  packages/auth/src/app.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/tests/context.ts
Labels: type: tests

chore(auth): fold
  packages/auth/src/app.ts
Labels: none

chore(backend): query Open Payments with http in development mode
  packages/backend/src/open_payments/client/service.ts
Labels: pkg: backend, type: source

fix(localenv): fix INTROSPECTION_HTTPSIG boolean definition in yaml
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
Labels: none

chore: add build path for auth and backend to docker compose (#616)
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
Labels: none

fix(localenv): fix peer backend seed hostname (#619)
  infrastructure/local/seed.peer.yml
Labels: none

docs: the graphql playground links need the graphql path (#614)
  infrastructure/local/peer-setup.md
Labels: none

docs: update architecture docs (#623)
  docs/architecture.md
  docs/img/rafiki-architecture.svg
Labels: none

fix(localenv): fix INTROSPECTION_HTTPSIG boolean definition in yaml (#617)
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
Labels: none
