Repository wilsonianb/rafiki, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: backend, pkg: interledger, pkg: frontend, pkg: rates, type: ci, type: documentation, type: source, type: tests

.github/labeler.yml:

# This file configures automatic labelling of pr's

'pkg: backend': packages/backend/**/*
'pkg: interledger': packages/interledger/**/*
'pkg: frontend': packages/frontend/**/*
'pkg: rates': packages/rates/**/*

# Add 'type: documentation' label to any change to *.md files
'type: ci':
  - .github/*
  - .github/**/*

# Add 'type: documentation' label to any change to *.md files
'type: documentation':
  - .github/*.md
  - '*.md'
  - packages/**/*.md

'type: source':
  - packages/backend/src/**/*
  - packages/interledger/src/**/*
  - packages/frontend/src/**/*
  - packages/rates/src/**/*

# Add 'type: tests' label to any change to *.test.ts files
'type: tests': packages/**/*.test.ts

chore(interledger): rename accountId as id
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/accounts/testsHelpers/accountFactory.ts
  packages/interledger/src/accounts/types/accountsService.ts
  packages/interledger/src/accounts/types/ilpAccount.ts
  packages/interledger/src/connector/core/controllers/ildcp-protocol.ts
  packages/interledger/src/connector/core/factories/account.ts
  packages/interledger/src/connector/core/middleware/balance.ts
  packages/interledger/src/connector/core/middleware/liquidity-check.ts
  packages/interledger/src/connector/core/middleware/rate-limit.ts
  packages/interledger/src/connector/core/middleware/throughput.ts
  packages/interledger/src/connector/core/test/controllers/ildcp-controller.test.ts
  packages/interledger/src/connector/core/test/middleware/account-middleware.test.ts
  packages/interledger/src/connector/core/test/middleware/balance-middleware.test.ts
  packages/interledger/src/connector/core/test/middleware/liquidity-check.test.ts
  packages/interledger/src/connector/core/test/middleware/max-packet-amount.test.ts
  packages/interledger/src/connector/core/test/middleware/rate-limit.test.ts
  packages/interledger/src/connector/core/test/middleware/reduce-expiry.test.ts
  packages/interledger/src/connector/core/test/middleware/throughput.test.ts
  packages/interledger/src/connector/core/test/middleware/token-auth-middleware.test.ts
  packages/interledger/src/connector/core/test/mocks/accounts-service.ts
Labels: pkg: interledger, type: source, type: tests

feat(interledger): updateIlpAccount resolver
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/resolvers/ilpAccount.test.ts
  packages/interledger/src/admin-api/resolvers/ilpAccount.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source, type: tests

feat(interledger): accounts service resolvers WIP
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/resolvers/ilpAccount.test.ts
  packages/interledger/src/admin-api/resolvers/ilpAccount.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source, type: tests

chore: update credit and debt mutations
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source

feat(interledger): createIlpSubAccount resolver
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/resolvers/ilpAccount.test.ts
  packages/interledger/src/admin-api/resolvers/ilpAccount.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source, type: tests

feat(interledger): createDeposit resolver
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/accounts/types/accountsService.ts
  packages/interledger/src/accounts/types/deposit.ts
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/resolvers/deposit.test.ts
  packages/interledger/src/admin-api/resolvers/deposit.ts
  packages/interledger/src/admin-api/resolvers/index.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source, type: tests

feat(interledger): transfer resolver
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/resolvers/index.ts
  packages/interledger/src/admin-api/resolvers/transfer.test.ts
  packages/interledger/src/admin-api/resolvers/transfer.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source, type: tests

feat(interledger): createDeposit resolver
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/accounts/types/accountsService.ts
  packages/interledger/src/accounts/types/deposit.ts
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/resolvers/deposit.test.ts
  packages/interledger/src/admin-api/resolvers/deposit.ts
  packages/interledger/src/admin-api/resolvers/index.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source, type: tests

feat(interledger): extendCredit resolver
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/resolvers/credit.test.ts
  packages/interledger/src/admin-api/resolvers/credit.ts
  packages/interledger/src/admin-api/resolvers/index.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source, type: tests

feat(interleger): revokeCredit resolver
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/resolvers/credit.test.ts
  packages/interledger/src/admin-api/resolvers/credit.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source, type: tests

feat(interleger): revokeCredit resolver
  packages/interledger/src/admin-api/resolvers/credit.test.ts
Labels: pkg: interledger, type: source, type: tests

feat(interledger): utilizeCredit resolver
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/resolvers/credit.test.ts
  packages/interledger/src/admin-api/resolvers/credit.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source, type: tests

feat(interledger): settleDebt resolver
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/resolvers/credit.test.ts
  packages/interledger/src/admin-api/resolvers/credit.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source, type: tests

chore(interledger): add credit error utility function
  packages/interledger/src/admin-api/resolvers/credit.ts
Labels: pkg: interledger, type: source

chore(interledger): change deposit/withdraw ids to uuid v4
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/accounts/types/deposit.ts
  packages/interledger/src/accounts/types/withdrawal.ts
  packages/interledger/src/accounts/utils/index.ts
  packages/interledger/src/accounts/utils/validate-id.ts
Labels: pkg: interledger, type: source, type: tests

chore(interledger): return withdrawal details
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/accounts/types/accountsService.ts
  packages/interledger/src/accounts/types/withdrawal.ts
Labels: pkg: interledger, type: source, type: tests

feat(interledger): make withdrawals two-phase
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/accounts/types/accountsService.ts
  packages/interledger/src/accounts/types/withdrawal.ts
  packages/interledger/src/admin-api/resolvers/credit.test.ts
Labels: pkg: interledger, type: source, type: tests

feat(interledger): createWithdrawal resolver
  packages/interledger/src/accounts/types/withdrawal.ts
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/resolvers/index.ts
  packages/interledger/src/admin-api/resolvers/withdrawal.test.ts
  packages/interledger/src/admin-api/resolvers/withdrawal.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source, type: tests

fix(build): copy graphql schema files to dist/
  .github/workflows/lint_test_build.yml
  package.json
  packages/backend/package.json
  packages/interledger/README.md
  packages/interledger/package.json
Labels: pkg: backend, pkg: interledger, type: ci, type: documentation

chore(interledger): source more configuration from Config
  packages/interledger/src/config/index.ts
  packages/interledger/src/connector/index.ts
  packages/interledger/src/index.ts
Labels: pkg: interledger, type: source

chore(interledger): use non-conflicting default ports
  packages/backend/README.md
  packages/backend/package.json
  packages/interledger/README.md
  packages/interledger/docker-compose.yml
  packages/interledger/src/config/index.ts
Labels: pkg: backend, pkg: interledger, type: documentation, type: source

feat(interledger): createWithdrawal resolver
  packages/interledger/src/accounts/types/withdrawal.ts
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/resolvers/index.ts
  packages/interledger/src/admin-api/resolvers/withdrawal.test.ts
  packages/interledger/src/admin-api/resolvers/withdrawal.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source, type: tests

feat(interledger): finalizePendingWithdrawal resolver
  packages/interledger/src/admin-api/resolvers/index.ts
  packages/interledger/src/admin-api/resolvers/withdrawal.test.ts
  packages/interledger/src/admin-api/resolvers/withdrawal.ts
Labels: pkg: interledger, type: source, type: tests

feat(interledger): rollbackPendingWithdrawal resolver
  packages/interledger/src/admin-api/resolvers/index.ts
  packages/interledger/src/admin-api/resolvers/withdrawal.test.ts
  packages/interledger/src/admin-api/resolvers/withdrawal.ts
Labels: pkg: interledger, type: source, type: tests

chore(interledger): remove tigerbeetle-node
  .pnp.js
  .yarn/cache/tigerbeetle-node-npm-0.3.3-0a2feab400-6f72689f1b.zip
  packages/interledger/package.json
  yarn.lock
Labels: pkg: interledger

chore(interledger): add tigerbeetle-node as workspace
  .gitignore
  .pnp.js
  packages/interledger/package.json
  packages/tigerbeetle-node/dist/client.node
  packages/tigerbeetle-node/dist/index.d.ts
  packages/tigerbeetle-node/dist/index.js
  packages/tigerbeetle-node/dist/index.js.map
  packages/tigerbeetle-node/package.json
  yarn.lock
Labels: pkg: interledger

chore(ci): skip test workflows
  .github/workflows/codacy-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
Labels: type: ci

test(ci): run lscpu
  .github/workflows/lint_test_build.yml
Labels: type: ci

chore(ci): skip build
  .github/workflows/lint_test_build.yml
Labels: type: ci

chore(connector): cleanup
  packages/interledger/src/connector/core/middleware/expire.ts
  packages/interledger/src/connector/core/test/middleware/expire-middleware.test.ts
Labels: pkg: interledger, type: source, type: tests

chore(rates): extract rates service into package
  packages/interledger/package.json
  packages/interledger/src/connector/core/rafiki.ts
  packages/interledger/src/connector/core/services/index.ts
  packages/rates/package.json
  packages/rates/src/index.test.ts
  packages/rates/src/index.ts
  packages/rates/src/server/config.ts
  packages/rates/src/server/ecb/service.test.ts
  packages/rates/src/server/ecb/service.ts
  packages/rates/src/server/ecb/test-eurofxref-daily.json
  packages/rates/src/server/ecb/test-eurofxref-daily.xml
  packages/rates/src/server/ecb/util.test.ts
  packages/rates/src/server/ecb/util.ts
  packages/rates/src/server/http/service.test.ts
  packages/rates/src/server/http/service.ts
  packages/rates/src/server/index.test.ts
  packages/rates/src/server/index.ts
  packages/rates/src/server/logger.ts
  packages/rates/src/server/xrp/service.test.ts
  packages/rates/src/server/xrp/service.ts
  packages/rates/src/util.test.ts
  packages/rates/src/util.ts
  packages/rates/tsconfig.json
Labels: pkg: interledger, pkg: rates, type: source, type: tests

chore(ci): test
  .github/workflows/lint_test_build.yml
Labels: type: ci

fix(interledger): support same asset code, different scale transfers
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
Labels: pkg: interledger, type: source, type: tests

chore(interledger): support same asset, different amounts transfers
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
Labels: pkg: interledger, type: source, type: tests

feat(interledger): transfer resolver
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/resolvers/index.ts
  packages/interledger/src/admin-api/resolvers/transfer.test.ts
  packages/interledger/src/admin-api/resolvers/transfer.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source, type: tests

feat(interledger): transfer mutation resolver
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/resolvers/index.ts
  packages/interledger/src/admin-api/resolvers/transfer.test.ts
  packages/interledger/src/admin-api/resolvers/transfer.ts
  packages/interledger/src/admin-api/schema.graphql
Labels: pkg: interledger, type: source, type: tests

chore(interledger): use backend accounts table
  packages/interledger/migrations/20210615140737_create_accounts_table.js
  packages/interledger/migrations/20210917140946_add_ilp_columns_to_accounts_table.js
  packages/interledger/migrations/20210917200753_create_ilp_http_tokens_table.js
  packages/interledger/src/accounts/models/ilpAccount.ts
  packages/interledger/src/accounts/service.ts
Labels: pkg: interledger, type: source

feat(backend): add HTTP token service
  packages/backend/migrations/20210917201429_create_http_tokens_table.js
  packages/backend/src/httpToken/model.ts
  packages/backend/src/httpToken/service.test.ts
  packages/backend/src/httpToken/service.ts
  packages/backend/src/index.ts
  packages/interledger/migrations/20210917201429_create_http_tokens_table.js
  packages/interledger/src/accounts/httpTokenModel.ts
  packages/interledger/src/accounts/models/ilpAccount.ts
  packages/interledger/src/accounts/models/ilpHttpToken.ts
  packages/interledger/src/accounts/models/index.ts
  packages/interledger/src/accounts/service.ts
Labels: pkg: backend, pkg: interledger, type: source, type: tests

feat(backend): add balance service
  .pnp.js
  packages/backend/jest.setup.js
  packages/backend/jest.teardown.js
  packages/backend/package.json
  packages/backend/src/balance/errors.ts
  packages/backend/src/balance/service.test.ts
  packages/backend/src/balance/service.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  yarn.lock
Labels: pkg: backend, type: source, type: tests

feat(backend): add asset service
  packages/backend/migrations/20210917185934_create_assets_table.js
  packages/backend/src/asset/model.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/index.ts
  packages/interledger/migrations/20210917185934_create_assets_table.js
  packages/interledger/src/accounts/assetModel.ts
  packages/interledger/src/accounts/models/asset.ts
  packages/interledger/src/accounts/models/ilpAccount.ts
  packages/interledger/src/accounts/service.ts
Labels: pkg: backend, pkg: interledger, type: source, type: tests
