Repository wilsonianb/rafiki, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: backend, pkg: frontend, pkg: auth, pkg: openapi, pkg: map, type: ci, type: documentation, type: source, type: tests, type: localenv

fix(backend): validate account provider-adjusted quote amounts
  packages/backend/src/open_payments/amount.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
Labels: pkg: backend, type: source, type: tests

fix(backend): commit grant reference insert before calling route
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.ts
Labels: pkg: backend, type: source, type: tests

fix(map): clean up webhook parsing
  packages/mock-account-provider/app/routes/webhooks.ts
Labels: pkg: map

fix(backend): base amount to deliver calculation on quote
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
Labels: pkg: backend, type: source, type: tests

fix(backend): base amount to deliver calculation on quote
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
Labels: pkg: backend, type: source, type: tests

chore(map): increase initial peer liquidity
  infrastructure/local/seed.peer.yml
  infrastructure/local/seed.primary.yml
  packages/mock-account-provider/app/lib/parse_config.ts
  packages/mock-account-provider/app/lib/run_seed.ts
  packages/mock-account-provider/seed.example.yml
Labels: pkg: map, type: localenv

chore(auth): insert grant and access token in transaction
  packages/auth/src/accessToken/service.ts
  packages/auth/src/grant/routes.ts
Labels: pkg: auth, type: source

chore(auth): remove commit/rollback
  packages/auth/src/grant/routes.ts
Labels: pkg: auth, type: source

chore(backend): match sub-resources by payment pointer
  packages/backend/src/connector/core/factories/rafiki-services.ts
  packages/backend/src/connector/core/middleware/account.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): query quote by payment pointer
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): format
  .eslintignore
  .prettierignore
  packages/backend/src/open_payments/auth/middleware.ts
Labels: pkg: backend, type: source

chore(ci): update pnpm version
  .github/workflows/rafiki/env-setup/action.yml
Labels: type: ci

chore(backend): don't resolve local receiver over http
  packages/backend/src/index.ts
  packages/backend/src/open_payments/client/service.test.ts
  packages/backend/src/open_payments/client/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): use generated Open Payments types
  packages/backend/package.json
  packages/backend/src/open_payments/amount.ts
  packages/backend/src/open_payments/client/service.ts
  packages/backend/src/open_payments/connection/service.ts
  packages/backend/src/open_payments/generated/types.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/quote/model.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source

chore(ci): update GitHub Actions and pnpm
  .github/workflows/lint_test_build.yml
  .github/workflows/rafiki/env-setup/action.yml
  packages/auth/Dockerfile
  packages/backend/Dockerfile
  packages/mock-account-provider/Dockerfile
Labels: pkg: backend, pkg: auth, pkg: map, type: ci

fix(openapi): use JSON Schema 2020-12 in response validator
  package.json
  packages/backend/package.json
  packages/backend/src/config/app.ts
  patches/openapi-response-validator@12.0.0.patch
  pnpm-lock.yaml
Labels: pkg: backend, type: source

chore(auth): export auth types for backend
  packages/auth/migrations/20220504163024_create_accesses_table.js
  packages/auth/src/access/model.ts
  packages/auth/src/access/service.test.ts
  packages/auth/src/access/service.ts
  packages/auth/src/access/types.ts
  packages/auth/src/accessToken/routes.ts
  packages/auth/src/grant/routes.test.ts
  packages/auth/src/grant/routes.ts
  packages/auth/src/grant/service.test.ts
  packages/auth/src/grant/service.ts
  packages/auth/src/index.ts
  packages/auth/src/shared/utils.ts
Labels: pkg: auth, type: source, type: tests

feat(backend): add services for managing RS grants
  packages/auth/migrations/20220504163024_create_accesses_table.js
  packages/backend/jest.setup.js
  packages/backend/migrations/20221005181411_create_auth_servers_table.js
  packages/backend/migrations/20221012013349_create_access_action_type.js
  packages/backend/migrations/20221012013413_create_grants_table.js
  packages/backend/migrations/20221012205150_create_quotes_table.js
  packages/backend/migrations/20221012205244_create_outgoing_payments_table.js
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/authServer/model.ts
  packages/backend/src/open_payments/authServer/service.test.ts
  packages/backend/src/open_payments/authServer/service.ts
  packages/backend/src/open_payments/grant/model.ts
  packages/backend/src/open_payments/grant/service.test.ts
  packages/backend/src/open_payments/grant/service.ts
  packages/backend/src/open_payments/grantReference/service.test.ts
  packages/backend/src/open_payments/grantReference/service.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/payment_pointer/routes.ts
  packages/backend/src/open_payments/quote/model.ts
Labels: pkg: backend, pkg: auth, type: source, type: tests

feat(backend): get or create receiver grant before creating quote
  packages/backend/src/index.ts
  packages/backend/src/open_payments/client/service.test.ts
  packages/backend/src/open_payments/client/service.ts
  packages/backend/src/open_payments/payment_pointer/model.ts
  packages/backend/src/open_payments/quote/service.ts
Labels: pkg: backend, type: source, type: tests

feat(open-payments): add HTTP message signatures
  packages/open-payments/package.json
  packages/open-payments/src/client/ilp-stream-connection.ts
  packages/open-payments/src/client/incoming-payment.ts
  packages/open-payments/src/client/payment-pointer.ts
  packages/open-payments/src/client/requests.test.ts
  packages/open-payments/src/client/requests.ts
  pnpm-lock.yaml
Labels: type: tests

chore(open-payments): fold
  packages/open-payments/src/client/requests.ts
  packages/open-payments/src/client/signatures.ts
Labels: none

fix(backend): store grantId on create quote route
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
Labels: pkg: backend, type: source, type: tests

feat(map): display account transactions
  packages/mock-account-provider/app/lib/requesters.ts
  packages/mock-account-provider/app/lib/transactions.server.ts
  packages/mock-account-provider/app/routes/accounts.$accountId.tsx
  packages/mock-account-provider/app/routes/webhooks.ts
Labels: pkg: map

feat(open-payments): add HTTP message signatures
  packages/open-payments/package.json
  packages/open-payments/src/client/index.ts
  packages/open-payments/src/client/requests.test.ts
  packages/open-payments/src/client/requests.ts
  packages/open-payments/src/client/signatures.ts
  packages/open-payments/src/test/helpers.ts
  pnpm-lock.yaml
Labels: type: tests

chore(auth): reset default bypassSignatureValidation
  packages/auth/src/signature/middleware.test.ts
Labels: pkg: auth, type: source, type: tests

chore(docker): use node:18-slim base image
  .github/workflows/rafiki/env-setup/action.yml
  package.json
  packages/auth/Dockerfile
  packages/backend/Dockerfile
  packages/mock-account-provider/Dockerfile
  packages/mock-account-provider/package.json
Labels: pkg: backend, pkg: auth, pkg: map, type: ci

chore(docker): fold
  packages/auth/Dockerfile
Labels: pkg: auth

chore(auth): move testcontainers to dev dependencies
  packages/auth/package.json
  pnpm-lock.yaml
Labels: pkg: auth

chore(ci): cache pnpm via setup-node action
  .github/workflows/rafiki/env-setup/action.yml
Labels: type: ci

chore(docker): use node:18-slim base image
  .github/workflows/docker-auth.yml
  .github/workflows/docker-backend.yml
  .github/workflows/rafiki/env-setup/action.yml
  package.json
  packages/auth/Dockerfile
  packages/backend/Dockerfile
  packages/mock-account-provider/Dockerfile
  packages/mock-account-provider/package.json
Labels: pkg: backend, pkg: auth, pkg: map, type: ci

chore(auth): move testcontainers to dev dependencies
  packages/auth/package.json
  pnpm-lock.yaml
Labels: pkg: auth

chore(ci): bump docker action versions
  .github/workflows/docker-auth.yml
  .github/workflows/docker-backend.yml
Labels: type: ci

chore(docker): use node:18-slim base image
  .github/workflows/docker-auth.yml
  .github/workflows/docker-backend.yml
  .github/workflows/rafiki/env-setup/action.yml
  package.json
  packages/auth/Dockerfile
  packages/backend/Dockerfile
  packages/mock-account-provider/Dockerfile
  packages/mock-account-provider/package.json
Labels: pkg: backend, pkg: auth, pkg: map, type: ci

test(auth): test
  packages/auth/openapi/id-provider.yaml
  packages/auth/openapi/resource-server.yaml
Labels: pkg: auth

chore(localenv): enable BYPASS_SIGNATURE_VALIDATION
  infrastructure/local/docker-compose.yml
  infrastructure/local/peer-docker-compose.yml
Labels: type: localenv

fix(backend): check that outgoing payment quote is unused
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
Labels: pkg: backend, type: source, type: tests

fix(openapi): resolve type errors
  packages/openapi/src/index.ts
  packages/openapi/src/middleware.ts
Labels: pkg: openapi, type: source

chore(open-payments): upgrade openapi-typescript
  packages/open-payments/package.json
  packages/open-payments/scripts/generate-types.ts
  packages/open-payments/src/generated/auth-server-types.ts
  packages/open-payments/src/generated/resource-server-types.ts
  pnpm-lock.yaml
Labels: none

test(open-payments): test CodeQl hardcoded-credentials checks
  packages/open-payments/src/client/requests.test.ts
  packages/open-payments/src/client/requests.ts
Labels: type: tests

test(open-payments): test CodeQl hardcoded-credentials checks
  packages/open-payments/src/client/requests.test.ts
  packages/open-payments/src/client/requests.ts
Labels: type: tests

.github/labeler.yml:

# This file configures automatic labelling of pr's

'pkg: backend': packages/backend/**/*
'pkg: frontend': packages/frontend/**/*
'pkg: auth': packages/auth/**/*
'pkg: openapi': packages/openapi/**/*
'pkg: map': packages/mock-account-provider/**/*

# Add 'type: documentation' label to any change to *.md files
'type: ci':
  - .github/*
  - .github/**/*

# Add 'type: documentation' label to any change to *.md files
'type: documentation':
  - .github/*.md
  - '*.md'
  - packages/**/*.md

'type: source':
  - packages/backend/src/**/*
  - packages/frontend/src/**/*
  - packages/auth/src/**/*
  - packages/openapi/src/**/*

# Add 'type: tests' label to any change to *.test.ts files
'type: tests': packages/**/*.test.ts

'type: localenv': infrastructure/local/*
