Repository wilsonianb/rafiki, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: backend, pkg: interledger, pkg: frontend, pkg: rates, pkg: tigerbeetle, type: ci, type: documentation, type: source, type: tests

feat(backend): send web_monetization webhook event
  packages/backend/migrations/20210422194130_create_assets_table.js
  packages/backend/migrations/20211012172409_create_accounts_table.js
  packages/backend/src/app.ts
  packages/backend/src/asset/model.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/account/model.ts
  packages/backend/src/open_payments/account/service.test.ts
  packages/backend/src/open_payments/account/service.ts
  packages/backend/src/open_payments/invoice/service.ts
  packages/backend/src/webhook/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fold
  packages/backend/migrations/20210422194130_create_assets_table.js
  packages/backend/migrations/20211012172409_create_accounts_table.js
  packages/backend/src/asset/model.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/open_payments/account/model.ts
  packages/backend/src/open_payments/account/service.test.ts
  packages/backend/src/open_payments/account/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fold
  packages/backend/migrations/20211012172409_create_accounts_table.js
  packages/backend/src/open_payments/account/model.ts
  packages/backend/src/open_payments/account/service.test.ts
  packages/backend/src/open_payments/account/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fold
  packages/backend/migrations/20211012172409_create_accounts_table.js
  packages/backend/src/open_payments/account/model.ts
  packages/backend/src/open_payments/account/service.test.ts
  packages/backend/src/open_payments/account/service.ts
  packages/backend/src/open_payments/invoice/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): webhook service -> liquidity service
  packages/backend/migrations/20211022210203_create_invoices_table.js
  packages/backend/migrations/20211026122545_create_outgoing_payments_table.js
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/liquidity/service.test.ts
  packages/backend/src/liquidity/service.ts
  packages/backend/src/open_payments/invoice/model.ts
  packages/backend/src/open_payments/invoice/service.test.ts
  packages/backend/src/open_payments/invoice/service.ts
  packages/backend/src/outgoing_payment/lifecycle.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
  packages/backend/src/outgoing_payment/worker.ts
  packages/backend/src/webhook/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): add deposit/withdrawal options to models
  packages/backend/migrations/20211022210203_create_invoices_table.js
  packages/backend/migrations/20220131110501_create_webhook_events_table.js
  packages/backend/src/accounting/model.ts
  packages/backend/src/accounting/service.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/account/model.ts
  packages/backend/src/open_payments/invoice/model.ts
  packages/backend/src/open_payments/invoice/service.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/webhook/model.ts
  packages/backend/src/webhook/service.ts
Labels: pkg: backend, type: source

chore(backend): add deposit/withdrawal options to models
  packages/backend/migrations/20211022210203_create_invoices_table.js
  packages/backend/migrations/20220131110501_create_webhook_events_table.js
  packages/backend/src/accounting/service.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/account/model.ts
  packages/backend/src/open_payments/invoice/model.ts
  packages/backend/src/open_payments/invoice/service.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/webhook/model.ts
  packages/backend/src/webhook/service.ts
Labels: pkg: backend, type: source

chore(backend): fold
  packages/backend/migrations/20220131110501_create_webhook_events_table.js
  packages/backend/src/index.ts
  packages/backend/src/webhook/model.ts
  packages/backend/src/webhook/service.ts
Labels: pkg: backend, type: source

feat(backend): manage webhook event lifecycle in webhook service
  packages/backend/migrations/20211022210203_create_invoices_table.js
  packages/backend/migrations/20211026122545_create_outgoing_payments_table.js
  packages/backend/migrations/20220131110501_create_webhook_events_table.js
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/open_payments/invoice/model.ts
  packages/backend/src/open_payments/invoice/service.test.ts
  packages/backend/src/open_payments/invoice/service.ts
  packages/backend/src/outgoing_payment/errors.ts
  packages/backend/src/outgoing_payment/lifecycle.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
  packages/backend/src/outgoing_payment/worker.ts
  packages/backend/src/webhook/model.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): manage webhook event lifecycle in webhook service
  packages/backend/migrations/20211022210203_create_invoices_table.js
  packages/backend/migrations/20211026122545_create_outgoing_payments_table.js
  packages/backend/migrations/20220131110501_create_webhook_events_table.js
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/open_payments/invoice/model.ts
  packages/backend/src/open_payments/invoice/service.test.ts
  packages/backend/src/open_payments/invoice/service.ts
  packages/backend/src/outgoing_payment/errors.ts
  packages/backend/src/outgoing_payment/lifecycle.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
  packages/backend/src/outgoing_payment/worker.ts
  packages/backend/src/webhook/model.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): add invoice and payment webhook event models
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/open_payments/invoice/model.ts
  packages/backend/src/open_payments/invoice/service.test.ts
  packages/backend/src/open_payments/invoice/service.ts
  packages/backend/src/outgoing_payment/lifecycle.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/webhook/model.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): update transaction api docs
  docs/transaction-api.md
Labels: none

chore(backend): check invoice balance on connection close
  packages/backend/src/connector/core/controllers/stream.ts
  packages/backend/src/connector/core/middleware/balance.ts
  packages/backend/src/connector/core/test/middleware/balance-middleware.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): add invoice and payment webhook event models
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/open_payments/invoice/model.ts
  packages/backend/src/open_payments/invoice/service.test.ts
  packages/backend/src/open_payments/invoice/service.ts
  packages/backend/src/outgoing_payment/lifecycle.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/webhook/model.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): add onCredit/onDebit to LiquidityAccount
  packages/backend/migrations/20211022210203_create_invoices_table.js
  packages/backend/src/accounting/service.test.ts
  packages/backend/src/accounting/service.ts
  packages/backend/src/connector/core/factories/account.ts
  packages/backend/src/connector/core/middleware/balance.ts
  packages/backend/src/connector/core/rafiki.ts
  packages/backend/src/connector/core/test/middleware/balance-middleware.test.ts
  packages/backend/src/open_payments/invoice/model.ts
  packages/backend/src/open_payments/invoice/service.test.ts
  packages/backend/src/open_payments/invoice/service.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/tests/accountFactory.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): update transaction api docs
  docs/transaction-api.md
Labels: none

chore(backend): use formatJson for toData conversions
  packages/backend/src/open_payments/invoice/model.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/shared/baseModel.ts
Labels: pkg: backend, type: source

feat(backend): add getEventInvoicesPage
  packages/backend/migrations/20220209103122_create_invoices_table.js
  packages/backend/src/accounting/service.ts
  packages/backend/src/open_payments/invoice/model.ts
  packages/backend/src/open_payments/invoice/service.test.ts
  packages/backend/src/open_payments/invoice/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): fold
  packages/backend/migrations/20220209103122_create_invoices_table.js
  packages/backend/src/accounting/service.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/open_payments/invoice/model.ts
  packages/backend/src/open_payments/invoice/service.test.ts
  packages/backend/src/open_payments/invoice/service.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): add events query resolvers
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/event.test.ts
  packages/backend/src/graphql/resolvers/event.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/invoice/service.test.ts
Labels: pkg: backend, type: source, type: tests

fix(backend): build errors
  packages/backend/src/app.ts
Labels: pkg: backend, type: source

chore(backend): update outgoing payment states
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/outgoing_payment/errors.ts
  packages/backend/src/outgoing_payment/lifecycle.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
  packages/backend/src/outgoing_payment/worker.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): update outgoing payment states
  packages/backend/migrations/20211026122545_create_outgoing_payments_table.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/outgoing_payment/errors.ts
  packages/backend/src/outgoing_payment/lifecycle.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
  packages/backend/src/outgoing_payment/worker.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): add tests
  packages/backend/src/outgoing_payment/service.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): update outgoing payment states
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/outgoing_payment/lifecycle.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
  packages/backend/src/outgoing_payment/worker.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): use unique Tigerbeetle cluster ids in tests
  packages/backend/src/accounting/service.test.ts
  packages/backend/src/asset/service.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): increase jest testTimeout
  packages/backend/jest.config.js
Labels: pkg: backend

chore(backend): enable tigerbeetle container logging
  packages/backend/jest.setup.js
  packages/backend/src/tests/tigerbeetle.ts
Labels: pkg: backend, type: source

Revert "chore(backend): enable tigerbeetle container logging"
  packages/backend/jest.setup.js
  packages/backend/src/tests/tigerbeetle.ts
Labels: pkg: backend, type: source

chore(backend): enable tigerbeetle container logging
  .github/workflows/lint_test_build.yml
  .github/workflows/main.yml
Labels: type: ci

chore(ci): run jest with --testTimeout=600000
  package.json
Labels: none

fix(backend): increase jest testTimeout
  packages/backend/jest.config.js
Labels: pkg: backend

chore(backend): add tigerbeetle container logging
  packages/backend/jest.setup.js
  packages/backend/src/tests/tigerbeetle.ts
Labels: pkg: backend, type: source

chore(ci): test docker
  .github/workflows/docker.yml
Labels: type: ci

chore(backend): update tigerbeetle-node to v0.6.0
  .pnp.cjs
  .yarn/cache/tigerbeetle-node-npm-0.4.1-16106fd9d1-ba539ade4f.zip
  .yarn/cache/tigerbeetle-node-npm-0.6.0-3a63e60fae-e1af485571.zip
  packages/backend/jest.setup.js
  packages/backend/package.json
  packages/backend/src/tests/tigerbeetle.ts
  yarn.lock
Labels: pkg: backend, type: source

chore(backend): add outgoing payment sentAmount column
  packages/backend/migrations/20211026122545_create_outgoing_payments_table.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): add grant service for Open Payments auth
  .pnp.cjs
  .yarn/cache/iso8601-duration-npm-1.3.0-d04d4298de-22a0d23bde.zip
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/grant/service.ts
  yarn.lock
Labels: pkg: backend, type: source

feat(backend): add grant service for Open Payments auth
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/grant/service.ts
Labels: pkg: backend, type: source

chore(backend): fold grant service
  packages/backend/src/open_payments/grant/service.test.ts
  packages/backend/src/open_payments/grant/service.ts
Labels: pkg: backend, type: source, type: tests

docs(backend): remove redundant "amount"
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/schema.graphql
Labels: pkg: backend, type: source

.github/labeler.yml:

# This file configures automatic labelling of pr's

'pkg: backend': packages/backend/**/*
'pkg: interledger': packages/interledger/**/*
'pkg: frontend': packages/frontend/**/*
'pkg: rates': packages/rates/**/*
'pkg: tigerbeetle': packages/tigerbeetle/**/*

# Add 'type: documentation' label to any change to *.md files
'type: ci':
  - .github/*
  - .github/**/*

# Add 'type: documentation' label to any change to *.md files
'type: documentation':
  - .github/*.md
  - '*.md'
  - packages/**/*.md

'type: source':
  - packages/backend/src/**/*
  - packages/interledger/src/**/*
  - packages/frontend/src/**/*
  - packages/rates/src/**/*
  - packages/tigerbeetle/src/**/*

# Add 'type: tests' label to any change to *.test.ts files
'type: tests': packages/**/*.test.ts
