Repository wilsonianb/rafiki, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: backend, pkg: interledger, pkg: frontend, pkg: rates, pkg: tigerbeetle, type: ci, type: documentation, type: source, type: tests

.github/labeler.yml:

# This file configures automatic labelling of pr's

'pkg: backend': packages/backend/**/*
'pkg: interledger': packages/interledger/**/*
'pkg: frontend': packages/frontend/**/*
'pkg: rates': packages/rates/**/*
'pkg: tigerbeetle': packages/tigerbeetle/**/*

# Add 'type: documentation' label to any change to *.md files
'type: ci':
  - .github/*
  - .github/**/*

# Add 'type: documentation' label to any change to *.md files
'type: documentation':
  - .github/*.md
  - '*.md'
  - packages/**/*.md

'type: source':
  - packages/backend/src/**/*
  - packages/interledger/src/**/*
  - packages/frontend/src/**/*
  - packages/rates/src/**/*
  - packages/tigerbeetle/src/**/*

# Add 'type: tests' label to any change to *.test.ts files
'type: tests': packages/**/*.test.ts

chore(backend): test openapi-enforcer validation
  .pnp.cjs
  .yarn/cache/openapi-enforcer-npm-1.18.0-ee9d7a2573-0e02cfcc4c.zip
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/open_payments/middleware.test.ts
  packages/backend/src/open_payments/middleware.ts
  packages/backend/src/open_payments/open-api-spec.yaml
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  yarn.lock
Labels: pkg: backend, type: source, type: tests

chore(backend): test openapi-backend validation
  .pnp.cjs
  .yarn/cache/@apidevtools-json-schema-ref-parser-npm-9.0.9-cda77aa4ae-b21f6bdd37.zip
  .yarn/cache/@jsdevtools-ono-npm-7.1.3-cb2313543b-2297fcd472.zip
  .yarn/cache/@types-json-schema-npm-7.0.11-79462ae5ca-527bddfe62.zip
  .yarn/cache/ajv-formats-npm-2.1.1-3cec02eae9-4a287d937f.zip
  .yarn/cache/ajv-npm-8.11.0-83d029789c-5e0ff22680.zip
  .yarn/cache/bath-es5-npm-3.0.3-8e3904296c-094e917ac0.zip
  .yarn/cache/call-me-maybe-npm-1.0.1-d07e74bc9c-d19e9d6ac2.zip
  .yarn/cache/cookie-npm-0.4.2-7761894d5f-a00833c998.zip
  .yarn/cache/lodash.merge-npm-4.6.2-77cb4416bf-ad580b4bdb.zip
  .yarn/cache/mock-json-schema-npm-1.1.1-0c1db4d1d1-3a45b85acd.zip
  .yarn/cache/openapi-backend-npm-5.3.0-584dfd11e1-209babbd13.zip
  .yarn/cache/openapi-schema-validator-npm-10.0.0-81c435cc58-b75883196d.zip
  .yarn/cache/openapi-types-npm-10.0.0-8d22ddcd6d-8cc8b5bf40.zip
  .yarn/cache/qs-npm-6.10.3-172e1a3fb7-0fac5e6c71.zip
  open-api-spec.yaml
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  yarn.lock
Labels: pkg: backend, type: source, type: tests

chore(backend): test koa-openapi validation
  .pnp.cjs
  .yarn/cache/ajv-formats-npm-2.1.1-3cec02eae9-4a287d937f.zip
  .yarn/cache/ajv-npm-8.11.0-83d029789c-5e0ff22680.zip
  .yarn/cache/brace-expansion-npm-2.0.1-17aa2616f9-a61e7cd2e8.zip
  .yarn/cache/difunc-npm-0.0.4-e9398a31b9-19b850dae2.zip
  .yarn/cache/fs-routes-npm-11.0.0-52b716d435-f0e46f5802.zip
  .yarn/cache/glob-npm-8.0.1-3485e1ee02-7ac782f3ef.zip
  .yarn/cache/is-dir-npm-1.0.0-b756886d82-b81430f22d.zip
  .yarn/cache/koa-openapi-npm-11.0.0-39ae5394fc-c455a8dc03.zip
  .yarn/cache/lodash.merge-npm-4.6.2-77cb4416bf-ad580b4bdb.zip
  .yarn/cache/minimatch-npm-5.0.1-612724f6f0-b34b98463d.zip
  .yarn/cache/openapi-default-setter-npm-11.0.0-6fedccdffa-3adb2f0f1d.zip
  .yarn/cache/openapi-framework-npm-11.0.0-7a4901de27-21b85f5f67.zip
  .yarn/cache/openapi-jsonschema-parameters-npm-11.0.0-370c60fff3-c73d0d9124.zip
  .yarn/cache/openapi-request-coercer-npm-11.0.0-5d1cd483ee-62aa29e69e.zip
  .yarn/cache/openapi-request-validator-npm-11.0.0-54183d8b81-578511c143.zip
  .yarn/cache/openapi-response-validator-npm-11.0.0-210b6fcce0-53bca2c532.zip
  .yarn/cache/openapi-schema-validator-npm-11.0.0-1989e666c4-bce453c1db.zip
  .yarn/cache/openapi-security-handler-npm-11.0.0-eb6b11957a-9a59f959fd.zip
  .yarn/cache/openapi-types-npm-11.0.0-30ab474ad7-2c54c8edcd.zip
  .yarn/cache/ts-log-npm-2.2.4-167dc9162c-489393cf0d.zip
  open-api-spec.yaml
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  yarn.lock
Labels: pkg: backend, type: source, type: tests

chore(backend): validate request body via OpenAPI
  .pnp.cjs
  .yarn/cache/@apidevtools-json-schema-ref-parser-npm-9.0.9-cda77aa4ae-b21f6bdd37.zip
  .yarn/cache/@jsdevtools-ono-npm-7.1.3-cb2313543b-2297fcd472.zip
  .yarn/cache/@types-json-schema-npm-7.0.11-79462ae5ca-527bddfe62.zip
  .yarn/cache/ajv-formats-npm-2.1.1-3cec02eae9-4a287d937f.zip
  .yarn/cache/ajv-npm-8.11.0-83d029789c-5e0ff22680.zip
  .yarn/cache/ajv-npm-8.6.3-ccbb84803e-690ffb9408.zip
  .yarn/cache/call-me-maybe-npm-1.0.1-d07e74bc9c-d19e9d6ac2.zip
  .yarn/cache/openapi-types-npm-11.0.0-30ab474ad7-2c54c8edcd.zip
  open-api-spec.yaml
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/incoming/errors.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  yarn.lock
Labels: pkg: backend, type: source, type: tests

chore(backend): add validator service
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/validator.ts
Labels: pkg: backend, type: source

chore(backend): validate request parameters and body
  .pnp.cjs
  .yarn/cache/openapi-jsonschema-parameters-npm-11.0.0-370c60fff3-c73d0d9124.zip
  open-api-spec.yaml
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/validator.ts
  yarn.lock
Labels: pkg: backend, type: source, type: tests

fix(backend): list parameter validation
  packages/backend/src/open_payments/validator.ts
Labels: pkg: backend, type: source

chore(backend): validate request/response parameters/body via OpenAPI
  .pnp.cjs
  .yarn/cache/@apidevtools-json-schema-ref-parser-npm-9.0.9-cda77aa4ae-b21f6bdd37.zip
  .yarn/cache/@jsdevtools-ono-npm-7.1.3-cb2313543b-2297fcd472.zip
  .yarn/cache/@types-json-schema-npm-7.0.11-79462ae5ca-527bddfe62.zip
  .yarn/cache/ajv-formats-npm-2.1.1-3cec02eae9-4a287d937f.zip
  .yarn/cache/ajv-npm-8.11.0-83d029789c-5e0ff22680.zip
  .yarn/cache/ajv-npm-8.6.3-ccbb84803e-690ffb9408.zip
  .yarn/cache/call-me-maybe-npm-1.0.1-d07e74bc9c-d19e9d6ac2.zip
  .yarn/cache/openapi-jsonschema-parameters-npm-11.0.0-370c60fff3-c73d0d9124.zip
  .yarn/cache/openapi-types-npm-11.0.0-30ab474ad7-2c54c8edcd.zip
  open-api-spec.yaml
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/amount.ts
  packages/backend/src/open_payments/payment/incoming/errors.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.test.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/validator.ts
  yarn.lock
Labels: pkg: backend, type: source, type: tests

chore(backend): fold
  open-api-spec.yaml
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/routes.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/validator.ts
  packages/backend/src/openapi/index.ts
  packages/backend/src/openapi/validator.ts
Labels: pkg: backend, type: source, type: tests

chore: test oats
  .pnp.cjs
  .yarn/cache/@cspotcode-source-map-consumer-npm-0.8.0-1f37e9e72b-c0c16ca3d2.zip
  .yarn/cache/@cspotcode-source-map-support-npm-0.7.0-456c3ea2ce-9faddda775.zip
  .yarn/cache/@shopify-jest-koa-mocks-npm-3.1.5-86f361ed65-cdd796a7f7.zip
  .yarn/cache/@smartlyio-oats-npm-4.3.2-afa524fb7f-e2c4bb4fd5.zip
  .yarn/cache/@smartlyio-oats-runtime-npm-4.3.2-c1266c9028-c1f42eba06.zip
  .yarn/cache/@smartlyio-safe-navigation-npm-5.0.2-f89166a43d-fb3c44c094.zip
  .yarn/cache/@tsconfig-node10-npm-1.0.8-90a8cce25d-b8d5fffbc6.zip
  .yarn/cache/@tsconfig-node12-npm-1.0.9-780563856d-a01b2400ab.zip
  .yarn/cache/@tsconfig-node14-npm-1.0.1-3ecac58e68-976345e896.zip
  .yarn/cache/@tsconfig-node16-npm-1.0.2-1f43ab567a-ca94d36397.zip
  .yarn/cache/@types-encodeurl-npm-1.0.0-0bdc39a573-cb2a08361e.zip
  .yarn/cache/@types-escape-html-npm-1.0.1-8c478c7bea-141d6e44dd.zip
  .yarn/cache/acorn-npm-8.7.1-7c7a019990-aca0aabf98.zip
  .yarn/cache/acorn-walk-npm-8.2.0-2f2cac3177-1715e76c01.zip
  .yarn/cache/drange-npm-1.1.1-f48050660f-7e6ed639f9.zip
  .yarn/cache/openapi-enforcer-npm-1.19.0-e63e60c690-0abd0379f0.zip
  .yarn/cache/openapi3-ts-npm-2.0.2-812565c888-ec82bbbbd5.zip
  .yarn/cache/randexp-npm-0.5.3-cbec49e616-9a4011b4b0.zip
  .yarn/cache/ret-npm-0.2.2-f5d3022812-774964bb41.zip
  .yarn/cache/ts-node-npm-10.7.0-ef39b1d45e-2a379e43f7.zip
  .yarn/cache/v8-compile-cache-lib-npm-3.0.1-4886071ece-78089ad549.zip
  open-api-spec.yaml
  packages/backend/driver.ts
  packages/backend/package.json
  packages/backend/src/open_payments/middleware.test.ts
  packages/backend/src/open_payments/middleware.ts
  yarn.lock
Labels: pkg: backend, type: source, type: tests

chore(backend): validate token introspection response
  auth-server-open-api-spec.yaml
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/backend/src/openapi/index.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): validate token introspection response
  auth-server-open-api-spec.yaml
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/auth/service.ts
  packages/openapi/src/index.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): test koa-openapi
  .pnp.cjs
  .yarn/cache/brace-expansion-npm-2.0.1-17aa2616f9-a61e7cd2e8.zip
  .yarn/cache/difunc-npm-0.0.4-e9398a31b9-19b850dae2.zip
  .yarn/cache/fs-routes-npm-11.0.1-ddd4581330-9dc90f3c75.zip
  .yarn/cache/glob-npm-8.0.3-750f909025-50bcdea19d.zip
  .yarn/cache/is-dir-npm-1.0.0-b756886d82-b81430f22d.zip
  .yarn/cache/koa-openapi-npm-11.0.1-a2a55cfc98-90014b5f03.zip
  .yarn/cache/minimatch-npm-5.1.0-34f6240621-15ce53d31a.zip
  .yarn/cache/openapi-framework-npm-11.0.1-8a825b7ddd-400e29ec60.zip
  .yarn/cache/openapi-schema-validator-npm-11.0.1-3a8c8fb236-b994cfd051.zip
  .yarn/cache/openapi-security-handler-npm-11.0.1-f5b15b4cb6-f558e9d8bb.zip
  packages/backend/package.json
  packages/backend/src/app.ts
  yarn.lock
Labels: pkg: backend, type: source

chore(backend): add receiver to quote/outgoing payment
  docs/transaction-api.md
  packages/backend/migrations/20220406190843_create_quotes_table.js
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/resolvers/quote.test.ts
  packages/backend/src/graphql/resolvers/quote.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/open_payments/auth/grant.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
  packages/backend/src/open_payments/payment/outgoing/errors.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/model.ts
  packages/backend/src/open_payments/payment/outgoing/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/model.ts
  packages/backend/src/open_payments/quote/routes.test.ts
  packages/backend/src/open_payments/quote/routes.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/tests/quote.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): remove IncomingPaymentState from docs
  docs/transaction-api.md
Labels: none

chore(backend): do not retry sending webhook events
  packages/backend/migrations/20220131110501_create_webhook_events_table.js
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/resolvers/account.test.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/account/model.ts
  packages/backend/src/open_payments/account/service.test.ts
  packages/backend/src/open_payments/account/service.ts
  packages/backend/src/webhook/errors.ts
  packages/backend/src/webhook/model.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
Labels: pkg: backend, type: source, type: tests

fix(backend): properly stringify webhook signature payload
  .yarn/cache/canonical-json-npm-0.0.4-3913f0793f-cc1efe7d7a.zip
  packages/backend/package.json
  packages/backend/src/webhook/service.ts
  yarn.lock
Labels: pkg: backend, type: source

fix(backend): don't restrict withdrawals to Open Payments accounts
  packages/backend/migrations/20220131110501_create_webhook_events_table.js
  packages/backend/src/webhook/model.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): add webhook event pagination
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/event.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
Labels: pkg: backend, type: source, type: tests

fix(backend): properly stringify webhook signature payload
  .yarn/cache/canonical-json-npm-0.0.4-3913f0793f-cc1efe7d7a.zip
  packages/backend/package.json
  packages/backend/src/webhook/service.ts
  yarn.lock
Labels: pkg: backend, type: source

chore(backend): use json-canonicalize
  .yarn/cache/canonical-json-npm-0.0.4-3913f0793f-cc1efe7d7a.zip
  .yarn/cache/json-canonicalize-npm-1.0.4-fdf2d45810-21b8c78fbc.zip
  packages/backend/package.json
  packages/backend/src/webhook/service.ts
  yarn.lock
Labels: pkg: backend, type: source

chore(auth): make introspection httpsig validation optional
  infrastructure/local/peer-docker-compose.yml
  packages/auth/src/app.ts
  packages/auth/src/config/app.ts
Labels: none

feat: add setup_payment service
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/setup_payment/service.ts
Labels: pkg: backend, type: source

feat: wrap setupPayment method
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/setup_payment/service.test.ts
  packages/backend/src/open_payments/setup_payment/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): update OPEN_PAYMENTS_SPEC
  packages/backend/src/config/app.ts
Labels: pkg: backend, type: source

chore(backend): fold
  packages/backend/src/open_payments/setup_payment/service.test.ts
  packages/backend/src/open_payments/setup_payment/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): update OPEN_PAYMENTS_SPEC
  packages/backend/src/config/app.ts
Labels: pkg: backend, type: source

chore(backend): replace accountId with payment pointer
  packages/backend/src/open_payments/setup_payment/service.test.ts
  packages/backend/src/open_payments/setup_payment/service.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): add incoming payment resolution
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/setup_payment/service.test.ts
  packages/backend/src/open_payments/setup_payment/service.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): resolve incoming payment
  packages/backend/src/index.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/service.ts
Labels: pkg: backend, type: source

chore(backend): remove connector uuid implementation
  packages/backend/src/apiKey/service.ts
  packages/backend/src/connector/core/lib/crypto.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/session/service.ts
Labels: pkg: backend, type: source

chore(backend): add incoming payment url and completed getters
  packages/backend/migrations/20220228162503_create_incoming_payments_table.js
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/incoming/service.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/shared/baseModel.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): use undefined in incoming payment toJSON
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
Labels: pkg: backend, type: source

chore(backend): add configurable DEV_ACCESS_TOKEN to bypass introspection
  packages/backend/src/config/app.ts
  packages/backend/src/open_payments/auth/middleware.test.ts
  packages/backend/src/open_payments/auth/middleware.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): add Open Payments client service
  packages/backend/package.json
  packages/backend/src/index.ts
  packages/backend/src/open_payments/client/service.test.ts
  packages/backend/src/open_payments/client/service.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/outgoing/lifecycle.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/payment/outgoing/service.ts
  packages/backend/src/open_payments/quote/service.test.ts
  packages/backend/src/open_payments/quote/service.ts
  packages/backend/src/open_payments/shared/receiver.ts
  packages/backend/src/open_payments/shared/resolvedPayment.ts
  packages/backend/src/shared/pagination.test.ts
  packages/backend/src/tests/outgoingPayment.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source, type: tests

chore(backend): downgrade axios to v0.26.1
  packages/backend/package.json
  pnpm-lock.yaml
Labels: pkg: backend

chore(backend): use undefined in incoming payment toJSON
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
Labels: pkg: backend, type: source

fix(backend): return correct ilpStreamConnection type
  packages/backend/package.json
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/connection/routes.test.ts
  packages/backend/src/open_payments/connection/routes.ts
  packages/backend/src/open_payments/connection/service.test.ts
  packages/backend/src/open_payments/connection/service.ts
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.test.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
  packages/backend/src/open_payments/payment/outgoing/service.test.ts
  packages/backend/src/open_payments/quote/service.test.ts
  pnpm-lock.yaml
Labels: pkg: backend, type: source, type: tests

chore(backend): use undefined in incoming payment toJSON
  packages/backend/src/open_payments/payment/incoming/model.ts
  packages/backend/src/open_payments/payment/incoming/routes.ts
Labels: pkg: backend, type: source

chore(backend): delay locking outgoing payment grant
  packages/backend/src/open_payments/payment/outgoing/service.ts
Labels: pkg: backend, type: source
