Repository wilsonianb/rafiki, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: backend, pkg: interledger, pkg: frontend, pkg: rates, pkg: tigerbeetle, type: ci, type: documentation, type: source, type: tests

.github/labeler.yml:

# This file configures automatic labelling of pr's

'pkg: backend': packages/backend/**/*
'pkg: interledger': packages/interledger/**/*
'pkg: frontend': packages/frontend/**/*
'pkg: rates': packages/rates/**/*
'pkg: tigerbeetle': packages/tigerbeetle/**/*

# Add 'type: documentation' label to any change to *.md files
'type: ci':
  - .github/*
  - .github/**/*

# Add 'type: documentation' label to any change to *.md files
'type: documentation':
  - .github/*.md
  - '*.md'
  - packages/**/*.md

'type: source':
  - packages/backend/src/**/*
  - packages/interledger/src/**/*
  - packages/frontend/src/**/*
  - packages/rates/src/**/*
  - packages/tigerbeetle/src/**/*

# Add 'type: tests' label to any change to *.test.ts files
'type: tests': packages/**/*.test.ts

chore(interledger): add token service
  packages/interledger/src/accounts/models/ilpAccount.ts
  packages/interledger/src/accounts/models/index.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/index.ts
  packages/interledger/src/testsHelpers/services.ts
  packages/interledger/src/token/model.ts
  packages/interledger/src/token/service.ts
Labels: pkg: interledger, type: source

chore(interledger): add asset service
  packages/interledger/src/accounts/errors.ts
  packages/interledger/src/accounts/models/ilpAccount.ts
  packages/interledger/src/accounts/models/index.ts
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/accounts/utils/index.ts
  packages/interledger/src/admin-api/testsHelpers/app.ts
  packages/interledger/src/asset/model.ts
  packages/interledger/src/asset/service.ts
  packages/interledger/src/balance/service.ts
  packages/interledger/src/credit/service.test.ts
  packages/interledger/src/index.ts
  packages/interledger/src/shared/utils.ts
Labels: pkg: interledger, type: source, type: tests

chore(interledger): move token service to backend
  packages/backend/migrations/20210917203959_create_http_tokens_table.js
  packages/backend/src/httpToken/model.ts
  packages/backend/src/httpToken/service.test.ts
  packages/backend/src/httpToken/service.ts
  packages/backend/src/index.ts
  packages/interledger/migrations/20210422194131_create_ilp_accounts_table.js
  packages/interledger/migrations/20210917203959_create_http_tokens_table.js
  packages/interledger/migrations/README.md
  packages/interledger/src/account/model.ts
  packages/interledger/src/account/service.ts
  packages/interledger/src/httpToken
  packages/interledger/src/index.ts
  packages/interledger/src/testsHelpers/services.ts
  packages/interledger/src/token/service.ts
Labels: pkg: backend, pkg: interledger, type: documentation, type: source, type: tests

chore(interledger): add credit service
  packages/interledger/src/accounts/errors.ts
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/accounts/types/accountsService.ts
  packages/interledger/src/accounts/types/credit.ts
  packages/interledger/src/accounts/types/index.ts
  packages/interledger/src/admin-api/index.ts
  packages/interledger/src/admin-api/resolvers/credit.test.ts
  packages/interledger/src/admin-api/resolvers/credit.ts
  packages/interledger/src/admin-api/testsHelpers/app.ts
  packages/interledger/src/credit/service.test.ts
  packages/interledger/src/credit/service.ts
  packages/interledger/src/index.ts
  packages/interledger/src/shared/errors.ts
Labels: pkg: interledger, type: source, type: tests

chore(interledger): add balance service
  packages/interledger/src/accounts/errors.ts
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/admin-api/testsHelpers/app.ts
  packages/interledger/src/balance/errors.ts
  packages/interledger/src/balance/service.ts
  packages/interledger/src/index.ts
Labels: pkg: interledger, type: source, type: tests

chore(interledger): add services test helper
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/admin-api/resolvers/credit.test.ts
  packages/interledger/src/admin-api/resolvers/deposit.test.ts
  packages/interledger/src/admin-api/resolvers/ilpAccount.test.ts
  packages/interledger/src/admin-api/resolvers/withdrawal.test.ts
  packages/interledger/src/admin-api/testsHelpers/app.ts
  packages/interledger/src/credit/service.test.ts
  packages/interledger/src/deposit/service.test.ts
  packages/interledger/src/testsHelpers/accountFactory.ts
  packages/interledger/src/testsHelpers/asset.ts
  packages/interledger/src/testsHelpers/index.ts
  packages/interledger/src/testsHelpers/services.ts
  packages/interledger/src/transfer/service.test.ts
  packages/interledger/src/withdrawal/service.test.ts
Labels: pkg: interledger, type: source, type: tests

chore(interledger): add withdrawal service
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/accounts/types/accountsService.ts
  packages/interledger/src/accounts/types/index.ts
  packages/interledger/src/accounts/types/withdrawal.ts
  packages/interledger/src/admin-api/generated/graphql.schema.json
  packages/interledger/src/admin-api/generated/graphql.ts
  packages/interledger/src/admin-api/index.ts
  packages/interledger/src/admin-api/resolvers/credit.test.ts
  packages/interledger/src/admin-api/resolvers/withdrawal.test.ts
  packages/interledger/src/admin-api/resolvers/withdrawal.ts
  packages/interledger/src/admin-api/schema.graphql
  packages/interledger/src/admin-api/testsHelpers/app.ts
  packages/interledger/src/credit/service.test.ts
  packages/interledger/src/index.ts
  packages/interledger/src/withdrawal/service.test.ts
  packages/interledger/src/withdrawal/service.ts
Labels: pkg: interledger, type: source, type: tests

chore(interledger): add deposit service
  packages/interledger/src/accounts/errors.ts
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/accounts/types/accountsService.ts
  packages/interledger/src/accounts/types/deposit.ts
  packages/interledger/src/accounts/types/index.ts
  packages/interledger/src/accounts/utils/index.ts
  packages/interledger/src/accounts/utils/validate-id.ts
  packages/interledger/src/admin-api/index.ts
  packages/interledger/src/admin-api/resolvers/credit.test.ts
  packages/interledger/src/admin-api/resolvers/deposit.test.ts
  packages/interledger/src/admin-api/resolvers/deposit.ts
  packages/interledger/src/admin-api/resolvers/withdrawal.test.ts
  packages/interledger/src/admin-api/testsHelpers/app.ts
  packages/interledger/src/credit/service.test.ts
  packages/interledger/src/deposit/service.test.ts
  packages/interledger/src/deposit/service.ts
  packages/interledger/src/index.ts
  packages/interledger/src/shared/errors.ts
  packages/interledger/src/shared/utils.ts
Labels: pkg: interledger, type: source, type: tests

chore(interledger): get liquidity/settlement balance in asset service
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/accounts/types/accountsService.ts
  packages/interledger/src/accounts/utils/calculate-balance.ts
  packages/interledger/src/accounts/utils/index.ts
  packages/interledger/src/asset/service.test.ts
  packages/interledger/src/asset/service.ts
  packages/interledger/src/balance/service.ts
  packages/interledger/src/deposit/service.test.ts
  packages/interledger/src/testsHelpers/services.ts
  packages/interledger/src/transfer/service.test.ts
  packages/interledger/src/withdrawal/service.test.ts
Labels: pkg: interledger, type: source, type: tests

chore(interledger): add transfer service
  packages/interledger/src/accounts/service.test.ts
  packages/interledger/src/accounts/service.ts
  packages/interledger/src/accounts/types/accountsService.ts
  packages/interledger/src/accounts/types/index.ts
  packages/interledger/src/accounts/types/transfer.ts
  packages/interledger/src/admin-api/index.ts
  packages/interledger/src/admin-api/testsHelpers/app.ts
  packages/interledger/src/connector/core/factories/rafiki-services.ts
  packages/interledger/src/connector/core/middleware/balance.ts
  packages/interledger/src/connector/core/rafiki.ts
  packages/interledger/src/connector/core/test/mocks/accounts-service.ts
  packages/interledger/src/connector/index.ts
  packages/interledger/src/index.ts
  packages/interledger/src/transfer/service.test.ts
  packages/interledger/src/transfer/service.ts
Labels: pkg: interledger, type: source, type: tests

chore(backend): add balance service
  .pnp.js
  packages/backend/jest.setup.js
  packages/backend/jest.teardown.js
  packages/backend/package.json
  packages/backend/src/balance/errors.ts
  packages/backend/src/balance/service.test.ts
  packages/backend/src/balance/service.ts
  packages/backend/src/config/app.ts
  packages/backend/src/index.ts
  packages/backend/src/shared/utils.ts
  yarn.lock
Labels: pkg: backend, type: source, type: tests

chore(backend): add transfer service
  packages/backend/src/index.ts
  packages/backend/src/transfer/errors.ts
  packages/backend/src/transfer/service.ts
Labels: pkg: backend, type: source

chore(backend): add asset service
  packages/backend/migrations/20210422194130_assets_table.js
  packages/backend/src/asset/model.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/index.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): add account service
  packages/backend/migrations/20210615140737_create_accounts_table.js
  packages/backend/src/account/errors.ts
  packages/backend/src/account/model.ts
  packages/backend/src/account/service.test.ts
  packages/backend/src/account/service.ts
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/resolvers/account.test.ts
  packages/backend/src/graphql/resolvers/account.ts
  packages/backend/src/graphql/resolvers/invoice.test.ts
  packages/backend/src/httpToken/service.test.ts
  packages/backend/src/index.ts
  packages/backend/src/invoice/service.test.ts
  packages/backend/src/invoice/service.ts
  packages/backend/src/shared/errors.ts
  packages/backend/src/shared/utils.ts
  packages/backend/src/spsp/service.test.ts
  packages/backend/src/spsp/service.ts
  packages/backend/src/tests/accountFactory.ts
  packages/backend/src/tests/asset.ts
  packages/backend/src/webmonetization/service.test.ts
  packages/interledger/src/account/model.ts
  packages/interledger/src/account/service.test.ts
  packages/interledger/src/account/service.ts
Labels: pkg: backend, pkg: interledger, type: source, type: tests

fix(backend): don't query table when transaction is aborted
  packages/backend/src/httpToken/service.test.ts
Labels: pkg: backend, type: source, type: tests

fix(backend): use knex transaction instead of truncating tables
  packages/backend/src/account/service.test.ts
  packages/backend/src/account/service.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/balance/service.test.ts
  packages/backend/src/connector/service.test.ts
  packages/backend/src/graphql/resolvers/account.test.ts
  packages/backend/src/graphql/resolvers/invoice.test.ts
  packages/backend/src/httpToken/service.test.ts
  packages/backend/src/httpToken/service.ts
  packages/backend/src/invoice/service.test.ts
  packages/backend/src/invoice/service.ts
  packages/backend/src/spsp/service.test.ts
  packages/backend/src/tests/tableManager.ts
  packages/backend/src/webmonetization/service.test.ts
  packages/backend/src/webmonetization/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): use knex transaction instead of truncating tables
  packages/backend/src/account/service.test.ts
  packages/backend/src/account/service.ts
  packages/backend/src/connector/service.test.ts
  packages/backend/src/graphql/resolvers/account.test.ts
  packages/backend/src/graphql/resolvers/invoice.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/index.ts
  packages/backend/src/invoice/service.test.ts
  packages/backend/src/invoice/service.ts
  packages/backend/src/outgoing_payment/lifecycle.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
  packages/backend/src/outgoing_payment/worker.ts
  packages/backend/src/shared/baseService.ts
  packages/backend/src/spsp/service.test.ts
  packages/backend/src/spsp/service.ts
  packages/backend/src/tests/tableManager.ts
  packages/backend/src/webmonetization/service.test.ts
  packages/backend/src/webmonetization/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): add rates service
  .github/workflows/lint_test_build.yml
  .pnp.js
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/connector/core/rafiki.ts
  packages/backend/src/connector/index.ts
  packages/backend/src/index.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
  packages/backend/src/rates/service.test.ts
  packages/backend/src/rates/service.ts
  packages/backend/src/rates/util.test.ts
  packages/backend/src/rates/util.ts
  packages/rates/package.json
  tsconfig.json
  yarn.lock
Labels: pkg: backend, pkg: rates, type: ci, type: source, type: tests

chore(docs): update architecture diagram
  docs/architecture.md
Labels: none

fix(backend): rollback asset creation on balance create error
  packages/backend/src/asset/errors.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): explicitly create new asset
  packages/backend/src/account/errors.ts
  packages/backend/src/account/service.test.ts
  packages/backend/src/account/service.ts
  packages/backend/src/asset/errors.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/deposit/errors.ts
  packages/backend/src/deposit/service.test.ts
  packages/backend/src/deposit/service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/account.test.ts
  packages/backend/src/graphql/resolvers/account.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/graphql/resolvers/deposit.test.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/invoice.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/withdrawal.test.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/httpToken/service.test.ts
  packages/backend/src/invoice/service.test.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/spsp/service.test.ts
  packages/backend/src/tests/accountFactory.ts
  packages/backend/src/webmonetization/service.test.ts
  packages/backend/src/withdrawal/service.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): get asset from service
  packages/backend/migrations/20210707125014_create_outgoing_payments_table.js
  packages/backend/src/account/errors.ts
  packages/backend/src/account/model.ts
  packages/backend/src/account/service.test.ts
  packages/backend/src/account/service.ts
  packages/backend/src/connector/core/middleware/asset.ts
  packages/backend/src/connector/core/rafiki.ts
  packages/backend/src/deposit/service.test.ts
  packages/backend/src/deposit/service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/account.test.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/invoice/service.ts
  packages/backend/src/outgoing_payment/lifecycle.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
  packages/backend/src/shared/errors.ts
  packages/backend/src/spsp/service.ts
  packages/backend/src/tests/accountFactory.ts
  packages/backend/src/withdrawal/service.test.ts
  packages/backend/src/withdrawal/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): create balance for outgoing payment
  packages/backend/migrations/20210707125014_create_outgoing_payments_table.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/outgoing_payment/lifecycle.ts
  packages/backend/src/outgoing_payment/mock_plugin.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
  packages/backend/src/outgoing_payment/worker.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): explicitly create new asset
  packages/backend/src/account/errors.ts
  packages/backend/src/account/service.test.ts
  packages/backend/src/account/service.ts
  packages/backend/src/asset/errors.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/account.test.ts
  packages/backend/src/graphql/resolvers/account.ts
  packages/backend/src/graphql/resolvers/asset.test.ts
  packages/backend/src/graphql/resolvers/asset.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/invoice.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/httpToken/service.test.ts
  packages/backend/src/invoice/service.test.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/spsp/service.test.ts
  packages/backend/src/tests/accountFactory.ts
  packages/backend/src/webmonetization/service.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): mark liquidity resolvers parent unused
  packages/backend/src/graphql/resolvers/liquidity.ts
Labels: pkg: backend, type: source

feat(backend): add payment pointers
  packages/backend/migrations/20211012172409_create_payment_pointers_table.js
  packages/backend/src/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/payment_pointer.test.ts
  packages/backend/src/graphql/resolvers/payment_pointer.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/payment_pointer/model.ts
  packages/backend/src/payment_pointer/service.test.ts
  packages/backend/src/payment_pointer/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): associate invoice with payment pointer
  packages/backend/migrations/20211022210203_create_invoices_table.js
  packages/backend/migrations/20211022210237_create_web_monetization_table.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/invoice.test.ts
  packages/backend/src/graphql/resolvers/invoice.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/invoice/model.ts
  packages/backend/src/invoice/service.test.ts
  packages/backend/src/invoice/service.ts
  packages/backend/src/spsp/service.test.ts
  packages/backend/src/spsp/service.ts
  packages/backend/src/webmonetization/model.ts
  packages/backend/src/webmonetization/service.test.ts
  packages/backend/src/webmonetization/service.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): re-use web monetization invoice
  .pnp.cjs
  .yarn/cache/luxon-npm-2.0.1-8400bf4032-88f089faaa.zip
  packages/backend/migrations/20211022210237_create_web_monetization_table.js
  packages/backend/package.json
  packages/backend/src/graphql/resolvers/invoice.test.ts
  packages/backend/src/invoice/service.test.ts
  packages/backend/src/invoice/service.ts
  packages/backend/src/spsp/service.test.ts
  packages/backend/src/spsp/service.ts
  packages/backend/src/webmonetization/model.ts
  packages/backend/src/webmonetization/service.test.ts
  packages/backend/src/webmonetization/service.ts
  yarn.lock
Labels: pkg: backend, type: source, type: tests

chore(backend): change asset balances to accounts
  packages/backend/migrations/20210422194130_create_assets_table.js
  packages/backend/migrations/20211103132627_create_liquidity_accounts_table.js
  packages/backend/migrations/20211103190504_create_settlement_accounts_table.js
  packages/backend/migrations/20211103212654_create_sent_accounts_table.js
  packages/backend/src/account/model.ts
  packages/backend/src/account/service.test.ts
  packages/backend/src/account/service.ts
  packages/backend/src/asset/model.ts
  packages/backend/src/asset/service.test.ts
  packages/backend/src/asset/service.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/httpToken/model.ts
  packages/backend/src/httpToken/service.test.ts
  packages/backend/src/httpToken/service.ts
  packages/backend/src/index.ts
  packages/backend/src/invoice/model.ts
  packages/backend/src/invoice/service.ts
  packages/backend/src/liquidity/service.test.ts
  packages/backend/src/liquidity/service.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/outgoing_payment/service.ts
  packages/backend/src/outgoing_payment/worker.ts
  packages/backend/src/payment_pointer/model.ts
  packages/backend/src/payment_pointer/service.ts
  packages/backend/src/peer/model.ts
  packages/backend/src/peer/service.ts
  packages/backend/src/tests/accountFactory.ts
  packages/backend/src/webmonetization/model.ts
  packages/backend/src/webmonetization/service.ts
Labels: pkg: backend, type: source, type: tests

fix(backend): pass source account to makeIlpPlugin
  packages/backend/src/app.ts
  packages/backend/src/asset/model.ts
  packages/backend/src/connector/core/rafiki.ts
  packages/backend/src/index.ts
  packages/backend/src/outgoing_payment/mock_plugin.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
  packages/backend/src/outgoing_payment/worker.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): mock HTTPS SPSP server for tests
  packages/backend/src/app.ts
  packages/backend/src/tests/app.ts
Labels: pkg: backend, type: source

fix(backend): support rate probe in connector middleware
  packages/backend/src/config/app.ts
  packages/backend/src/connector/core/errors/index.ts
  packages/backend/src/connector/core/middleware/account.ts
  packages/backend/src/connector/core/middleware/balance.ts
  packages/backend/src/connector/core/middleware/error-handler.ts
  packages/backend/src/connector/core/middleware/ildcp.ts
  packages/backend/src/connector/core/test/middleware/balance-middleware.test.ts
  packages/backend/src/connector/core/test/middleware/error-handler-middleware.test.ts
Labels: pkg: backend, type: source, type: tests

chore(backend): test outgoing payments with real invoices
  packages/backend/src/invoice/model.ts
  packages/backend/src/outgoing_payment/service.test.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): add peer liquidity mutation resolvers
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/liquidity.ts
  packages/backend/src/graphql/schema.graphql
Labels: pkg: backend, type: source, type: tests

chore(backend): remove outgoing payment approval
  docs/transaction-api.md
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/outgoing_payment/lifecycle.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
  packages/backend/src/outgoing_payment/worker.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): add fund outgoing payment mutation resolver
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): add fund outgoing payment mutation resolver
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): add mandates
  .pnp.cjs
  .yarn/cache/iso8601-duration-npm-1.3.0-d04d4298de-22a0d23bde.zip
  packages/backend/migrations/20211210094828_create_mandates_table.js
  packages/backend/package.json
  packages/backend/src/app.ts
  packages/backend/src/config/app.ts
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/mandate.test.ts
  packages/backend/src/graphql/resolvers/mandate.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/index.ts
  packages/backend/src/open_payments/mandate/errors.ts
  packages/backend/src/open_payments/mandate/model.ts
  packages/backend/src/open_payments/mandate/routes.test.ts
  packages/backend/src/open_payments/mandate/routes.ts
  packages/backend/src/open_payments/mandate/service.test.ts
  packages/backend/src/open_payments/mandate/service.ts
  yarn.lock
Labels: pkg: backend, type: source, type: tests

chore(backend): strictly type PaymentIntent
  docs/transaction-api.md
  packages/backend/migrations/20211026122545_create_outgoing_payments_table.js
  packages/backend/src/graphql/generated/graphql.schema.json
  packages/backend/src/graphql/generated/graphql.ts
  packages/backend/src/graphql/resolvers/index.ts
  packages/backend/src/graphql/resolvers/liquidity.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.test.ts
  packages/backend/src/graphql/resolvers/outgoing_payment.ts
  packages/backend/src/graphql/schema.graphql
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
  packages/backend/src/webhook/service.test.ts
  packages/backend/src/webhook/service.ts
Labels: pkg: backend, type: source, type: tests

feat(backend): add charges
  packages/backend/migrations/20211221144006_create_outgoing_payments_table.js
  packages/backend/src/app.ts
  packages/backend/src/index.ts
  packages/backend/src/open_payments/charge/errors.ts
  packages/backend/src/open_payments/charge/routes.test.ts
  packages/backend/src/open_payments/charge/routes.ts
  packages/backend/src/open_payments/mandate/service.ts
  packages/backend/src/outgoing_payment/errors.ts
  packages/backend/src/outgoing_payment/lifecycle.ts
  packages/backend/src/outgoing_payment/model.ts
  packages/backend/src/outgoing_payment/service.test.ts
  packages/backend/src/outgoing_payment/service.ts
Labels: pkg: backend, type: source, type: tests
