Repository wilsonianb/rafiki, changes with the labels that .github/labeler.yml gives for each.
All labels: accounts, backend, connector, frontend, repo

.github/labeler.yml:

# This file configures automatic labelling of pr's
# Adds the 'backend' label if any files change in the backend directory
accounts: packages/accounts/**/*
backend: packages/backend/**/*
connector: packages/connector/**/*
frontend: packages/frontend/**/*
repo: ./*

chore(connector): import types from accounts service
  .github/workflows/lint_test_build.yml
  .pnp.js
  packages/accounts/package.json
  packages/accounts/src/index.ts
  packages/accounts/src/services/accounts.ts
  packages/accounts/src/tests/factories/account.ts
  packages/accounts/src/tests/services/accounts.test.ts
  packages/accounts/src/types/accountsService.ts
  packages/accounts/src/types/deposit.ts
  packages/accounts/src/types/ilpAccount.ts
  packages/accounts/src/types/ilpBalance.ts
  packages/accounts/src/types/index.ts
  packages/accounts/src/types/transfer.ts
  packages/accounts/src/types/withdrawal.ts
  packages/accounts/tsconfig.json
  packages/connector/package.json
  packages/connector/src/index.ts
  packages/connector/src/services/admin-api/index.ts
  packages/connector/src/services/core/controllers/client.ts
  packages/connector/src/services/core/controllers/echo-protocol.ts
  packages/connector/src/services/core/factories/account.ts
  packages/connector/src/services/core/factories/rafiki-services.ts
  packages/connector/src/services/core/middleware/account.ts
  packages/connector/src/services/core/middleware/auth.ts
  packages/connector/src/services/core/middleware/balance.ts
  packages/connector/src/services/core/rafiki.ts
  packages/connector/src/services/core/services/accounts.ts
  packages/connector/src/services/core/services/client.ts
  packages/connector/src/services/core/services/index.ts
  packages/connector/src/services/core/test/controllers/ildcp-controller.test.ts
  packages/connector/src/services/core/test/middleware/balance-middleware.test.ts
  packages/connector/src/services/core/test/middleware/token-auth-middleware.test.ts
  packages/connector/src/services/core/test/mocks/accounts-service.ts
  packages/connector/src/services/core/types/index.ts
  yarn.lock
Labels: accounts, connector, repo

feat(accounts): use testcontainers
  .github/workflows/lint_test_build.yml
  .github/workflows/main.yml
  .pnp.js
  packages/accounts/README.md
  packages/accounts/jest.config.js
  packages/accounts/jest.environment.js
  packages/accounts/jest.setup.js
  packages/accounts/jest.teardown.js
  packages/accounts/package.json
  packages/accounts/src/tests/helpers/app.ts
  packages/accounts/src/tests/services/accounts.test.ts
  yarn.lock
Labels: accounts, repo

feat(backend): use testcontainers
  .github/workflows/lint_test_build.yml
  .github/workflows/main.yml
  .pnp.js
  packages/backend/README.md
  packages/backend/jest.config.js
  packages/backend/jest.environment.js
  packages/backend/jest.setup.js
  packages/backend/jest.teardown.js
  packages/backend/package.json
  packages/backend/src/account/service.test.ts
  packages/backend/src/graphql/resolvers/index.test.ts
  packages/backend/src/graphql/resolvers/user.test.ts
  packages/backend/src/spsp/service.test.ts
  packages/backend/src/tests/app.ts
  packages/backend/src/user/service.test.ts
  yarn.lock
Labels: backend, repo

chore(accounts): add prepare script to build
  .github/workflows/lint_test_build.yml
  .github/workflows/main.yml
  packages/accounts/package.json
  packages/connector/README.md
Labels: accounts, connector

chore(accounts): restart tigerbeetle for each test
  packages/accounts/jest.setup.js
  packages/accounts/jest.teardown.js
  packages/accounts/src/tests/helpers/asset.ts
  packages/accounts/src/tests/services/accounts.test.ts
Labels: accounts

chore(accounts): debug exit code 129
  package.json
Labels: repo

chore(accounts): enable debug logging
  .github/workflows/lint_test_build.yml
  package.json
Labels: repo

chore(accounts): print test names
  packages/accounts/src/tests/services/accounts.test.ts
Labels: accounts

chore(accounts): add test logs
  packages/accounts/src/tests/services/accounts.test.ts
Labels: accounts

chore(accounts): add test setup logging
  packages/accounts/jest.setup.js
Labels: accounts

chore(accounts): enable ts-jest logging
  .github/workflows/lint_test_build.yml
Labels: none

chore(accounts): print syslog on error
  .github/workflows/lint_test_build.yml
Labels: none

chore(accounts): skip ci build
  .github/workflows/lint_test_build.yml
Labels: none

chore(accounts): fail on error
  .github/workflows/lint_test_build.yml
Labels: none

chore(accounts): store core dump as artifact
  .github/workflows/lint_test_build.yml
Labels: none

chore(accounts): print syslog
  .github/workflows/lint_test_build.yml
Labels: none

chore(accounts): don't test as root
  .github/workflows/lint_test_build.yml
Labels: none

chore(accounts): upload core from current directory
  .github/workflows/lint_test_build.yml
Labels: none

chore(accounts): remove debug logging
  .github/workflows/lint_test_build.yml
Labels: none

chore(accounts): debug exit code 129
  .github/workflows/lint_test_build.yml
  packages/accounts/jest.setup.js
  packages/accounts/src/tests/services/accounts.test.ts
Labels: accounts

chore(accounts): remove test name logging
  packages/accounts/src/tests/services/accounts.test.ts
Labels: accounts

chore(accounts): upload core file libs as artifacts
  .github/workflows/lint_test_build.yml
Labels: none

chore(accounts): upload files needed for core
  .github/workflows/lint_test_build.yml
Labels: none

chore(accounts): upload node binary
  .github/workflows/lint_test_build.yml
Labels: none

chore(interledger): remove tigerbeetle-node
  .pnp.js
  .yarn/cache/tigerbeetle-node-npm-0.3.2-8eb7218a19-1f558aac5e.zip
  packages/interledger/package.json
  yarn.lock
Labels: repo

chore(interledger): add tigerbeetle-node as workspace
  .gitignore
  .pnp.js
  packages/interledger/package.json
  packages/tigerbeetle-node/dist/client.node
  packages/tigerbeetle-node/dist/index.d.ts
  packages/tigerbeetle-node/dist/index.js
  packages/tigerbeetle-node/dist/index.js.map
  packages/tigerbeetle-node/package.json
  yarn.lock
Labels: repo

test(interledger): use baseline tigerbeetle build
  packages/interledger/jest.setup.js
  packages/tigerbeetle-node/dist/client.node
Labels: none

test(ci): run lscpu
  .github/workflows/lint_test_build.yml
Labels: none

chore(ci): skip test workflows
  .github/workflows/codacy-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
Labels: none

chore(ci): skip build
  .github/workflows/lint_test_build.yml
Labels: none
